<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Activate Account</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>

        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div  id="containerpart" class="container margin-bottom-40" ng-init="initactivatecontr()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-30">

                    <div class="overflow-h margin-bottom-10">





                    </div>


                </div>
                <!-- End Blog Grid -->


                <p ng-if="message!=''"> Success {{message}}</p>

                <p ng-if="error_found!=''">  {{error_found}}</p>


            </div>
            <!-- End Main Content -->



        </div>
    </div>
</div>
<!--=== End Container Part ===-->

