<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Articles</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Articles</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div id="containerpart" class="margin-top-20 " ng-init="initarticlecontr()">
    <div class="container margin-bottom-40">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">


                <!-- Blog Grid -->
                <div class="row margin-bottom-50" ng-repeat="article in articles">
                    <div class="col-sm-6 sm-margin-bottom-20">

                        <a ui-sref="articledetails({ articleid: article.id })">
                            <img class="img-responsive" ng-show="(article.photo_link!='')"
                                 ng-src="{{article.photo_link}}" alt="">
                            <img class="img-responsive" ng-show="(article.photo_link=='')"
                                 ng-src="assets/img/blog/img6.jpg" alt="">
                        </a>




                    </div>
                    <div class="col-sm-6">
                        <div class="blog-grid">
                            <h3><a ui-sref="articledetails({ articleid: article.id })">{{article.title}}</a></h3>
                            <ul class="blog-grid-info">
                                <li><a ui-sref="profile({ profileid: article.author_id })">{{article.author_name}}</a></li>
                                <li>{{article.date_formated}}</li>
                                <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                            </ul>
                            <p ng-bind-html="trusthtml(article.short_content)" >.</p>
                            <a class="r-more" ui-sref="articledetails({ articleid: article.id })">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Blog Grid -->
                <div class="row margin-bottom-50"  ng-show="pagination.count==0">

                    <div class="col-sm-6">
                        <div class="blog-grid">
                            <h3>No Articles</h3>


                        </div>
                    </div>
                </div>



                <!-- Pager v4 -->
                <div class="col-md-8 pager pager-v4" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li class="previous" ng-show="pagination.current_page>2">
                                <a   ui-sref="articles({ page:pagination.current_page-2})">&larr; Older</a></li>
                            <li class="page-amount" ng-show="pagination.links.previous">
                                <a ui-sref="articles({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="articles({ page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  class="page-amount" ng-show="pagination.links.next">
                                <a ui-sref="articles({ page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="articles({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="articles({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="articles({ page:pagination.current_page+3})">Newer &rarr;</a>
                            </li>
                            <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a   ui-sref="articles({ page:pagination.current_page+4})">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- End Pager v4 -->


            </div>
            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestclassifieds" ng-if="isAuthenticated()" ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li ng-show="(sideclassified.hide_owner==0)"><a ui-sref="profile({ profileid:sideclassified.owner_id})" >By {{sideclassified.owner_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                        <div class="blog-thumb-desc">
                            <h3>No Calssifieds</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>


                </div>

                <!-- End Blog Thumb v2 -->



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestforums" ng-if="isAuthenticated()" ng-init="sidebar_latestforums()">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" ui-sref="topicdetails({ topicid:forumpost.topic_id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestposts==0">

                        <div class="blog-thumb-desc">
                            <h3>No ForumPosts</h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts" ng-if="isAuthenticated()" ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>



                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                        <div class="blog-thumb-desc">
                            <h3>No Products</h3>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Right Sidebar -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->
