<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light" ng-init="initarticlecontr()">
    <div class="container">
        <h1 class="pull-left">  </h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"> <a ng-class="active"  ui-sref="articles()">  Article </a></li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div id="containerpart" class="container margin-bottom-40 " >
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-30">
                    <h2 class="blog-grid-title-lg">{{article.title}}</h2>
                    <div class="overflow-h margin-bottom-10">

                        <ul class="blog-grid-info pull-left">
                            <a ui-sref="profile({ profileid:article.author_id})">
                                <li><i class="fa fa-user"></i> Posted By {{article.author_name}}</li>
                            </a>
                            <li><i class="fa fa-calendar"></i> {{article.updated_at}}</li>
                        </ul>

                        <div class="pull-right">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_sharing_toolbox">
                                <ul class="blog-social-shares blog-grid-info pull-right">
                                    <li>
                                        <a class="rounded-3x"ng-if="(isAuthenticated() && article.author_id!=currentUser.proffessional_id)" ui-sref="newthread({section:'newthread', thread: article.author_id })" ><i class="rounded-x green fa fa-comment"></i></a>
                                        <a ng-if="(isAuthenticated() && article.author_id==currentUser.proffessional_id)"   class="rounded-3x" ui-sref="dashboardsection({ section:'editarticle',page:article.id})"><i class="rounded-x green fa fa-edit"></i></a>
                                        <a ng-if="(isAuthenticated())" class="rounded-3x" ui-sref="dashboardsection({ section:'addarticle'})"><i class="rounded-x green fa fa-plus-circle"></i></a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <img class="img-responsive" ng-show="(article.photo_link!='')"
                         ng-src="{{article.photo_link}}" alt="">
                    <img class="img-responsive" ng-show="(article.photo_link=='')"
                         ng-src="assets/img/blog/img3.jpg" alt="">



                </div>
                <!-- End Blog Grid -->

                <p ng-bind-html="trusthtml(article.content)" ></p>

                <!-- End Blog Grid Tagds -->
                <!-- Blog Thumb v4 -->

                <!-- End Blog Thumb v4 -->
                <!-- Blog Comments v2 -->

            </div>
            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">


                <div class="blog-thumb blog-thumb-circle margin-bottom-30">


                    <!-- Blog Thumb v2 -->
                    <div class="margin-bottom-50 " id="latestarticles"   ng-init="sidebar_latestarticles()">
                        <h2 class="title-v4">Articles</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                     ng-src="{{sidearticle.photo_link}}" alt="">
                                <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                     ng-src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                    <i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-desc">
                                <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                                <ul class="blog-thumb-info">
                                    <li><a ui-sref="profile({ profileid:sidearticle.author_id})">
                                        {{sidearticle.author_name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                            <div class="blog-thumb-desc">
                                <h3>No Articles</h3>
                            </div>
                        </div>

                    </div>
                    <!-- End Blog Thumb v2 -->

                    <!-- Blog Thumb v2 -->
                    <div class="margin-bottom-50 " id="latestclassifieds" ng-if="isAuthenticated()" ng-init="sidebar_latestclassifieds()" >
                        <h2 class="title-v4">Classifieds</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                            <div class="col-md-4 col-sm-2 col-xs-4">
                                <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                    <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                            </div>
                            <div class="blog-thumb-desc">
                                <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                                <ul class="blog-thumb-info">
                                    <li ng-show="(sideclassified.hide_owner==0)"><a ui-sref="profile({ profileid:sideclassified.owner_id})" >By {{sideclassified.owner_name}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                            <div class="blog-thumb-desc">
                                <h3>No Calssifieds</h3>
                            </div>
                        </div>


                    </div>
                    <!-- End Blog Thumb v2 -->

                    <!-- Blog Thumb v2 -->
                    <div class="margin-bottom-50 " id="latestblogs"  ng-init="sidebar_latestblogs()" >
                        <h2 class="title-v4">Latest Blogs</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"    ng-repeat="sideblog in sidebarlatestblogs">

                            <div class="blog-thumb-hover">
                                <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                     ng-src="{{sideblog.photo_link}}" alt="">
                                <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                     ng-src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                    <i class="fa fa-link"></i></a>
                            </div>

                            <div class="blog-thumb-desc">
                                <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                                <ul class="blog-thumb-info">
                                    <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                            <div class="blog-thumb-desc">
                                <h3>No Blogs</h3>
                            </div>
                        </div>

                    </div>
                    <!-- End Blog Thumb v2 -->


                    <!-- Blog Thumb v2 -->
                    <div class="margin-bottom-50 " id="latestforums" ng-if="isAuthenticated()" ng-init="sidebar_latestforums()">
                        <h2 class="title-v4">Forum</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-desc">
                                <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                                <ul class="blog-thumb-info">
                                    <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestposts==0">

                            <div class="blog-thumb-desc">
                                <h3>No ForumPosts</h3>
                            </div>
                        </div>


                    </div>
                    <!-- End Blog Thumb v2 -->

                    <!-- Blog Thumb v2 -->
                    <div class="margin-bottom-50 " id="latestproducts" ng-if="isAuthenticated()" ng-init="sidebar_latestproducts()" >
                        <h2 class="title-v4">Products</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                            <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                                <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                     ng-src="{{sideproduct.photo_link}}" alt="">
                                <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                     ng-src="assets/img/thumb/store.jpg" alt="">
                                <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                    <i class="fa fa-link"></i></a>
                            </div>



                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- End Right Sidebar -->
            </div>
        </div>
    </div>
</div>
    <!--=== End Container Part ===-->
