<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Blogs</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="/">Home</a></li>
            <li class="active">Blogs</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!-- Con'tainer Part -->
<div id="containerpart"  class="margin-top-20 "   ng-init="initblogcontr()" >
    <div class="container margin-bottom-40">
        <!-- Masonry Box -->
        <div class="masonry-box" >
            <!-- Blog Grid -->
            <div class="blog-grid masonry-box-in col-4" ng-repeat="post in blogposts">
                <a ui-sref="blogpostdetails({ blogid: post.id })">
                <img class="img-responsive" ng-show="(post.photo_link!='')"
                     ng-src="{{post.photo_link}}" alt="">
                <img class="img-responsive" ng-show="(post.photo_link=='')"
                     ng-src="assets/img/blog/img1.jpg" alt="">
                </a>


                <h3><a ui-sref="blogpostdetails({ blogid: post.id })">{{post.short_title}}</a></h3>
                <ul class="blog-grid-info">
                    <li><a ui-sref="profile({ profileid: post.author_id })">{{post.author_name}}</a></li>
                    <li>{{post.date_formated}}</li>
                    <li><a ui-sref="blogpostdetails({ blogid: post.id })">
                        <i class="fa fa-comments"></i> 0</a></li>
                </ul>
                <p ng-bind-html="trusthtml(post.short_content)">.</p>
                <a class="r-more" ui-sref="blogpostdetails({ blogid: post.id })">Read More</a>
            </div>
            <!-- End Blog Grid -->

        </div >
        <!-- End Masonry Box -->

        <div class="row margin-bottom-50"  ng-show="pagination.count==0">

            <div class="col-sm-6">
                <div class="blog-grid">
                    <h3>No Blogs</h3>


                </div>
            </div>
        </div>

        <div class="col-md-12 pager pager-v4" ng-show="pagination.total_pages>1">
            <div class="text-right">
                <ul class="pagination">
                    <li class="previous" ng-show="pagination.current_page>2">
                        <a   ui-sref="articles({ page:pagination.current_page-2})">&larr; Older</a></li>
                    <li class="page-amount" ng-show="pagination.links.previous">
                        <a ui-sref="blogs({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                    <li class="active"><a ui-sref="blogs({ page:pagination.current_page})">
                        {{pagination.current_page}}
                    </a></li>
                    <li  class="page-amount" ng-show="pagination.links.next">
                        <a ui-sref="blogs({ page:nextpageparm})">{{nextpageparm}}
                        </a></li>

                    <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                        <a ui-sref="blogs({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                        </a></li>
                    <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                        <a ui-sref="blogs({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                        </a></li>
                    <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                        <a ui-sref="blogs({ page:pagination.current_page+3})">Newer &rarr;</a>
                    </li>
                    <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                        <a   ui-sref="blogs({ page:pagination.current_page+4})">Newer &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Pager v4 -->
    </div>
</div>
<!--=== End Container Part ===-->


