<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Events</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Events</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Container Part ===-->
<div class="margin-top-20">
    <div id="containerpart" class="container">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">



                <!-- Event Details -->
                <div class="margin-bottom-50">
                    <div class="sm-margin-bottom-50">
                        <div class="blog-grid">
                            <h3>{{mainevent.title}}</h3>
                            <div class="col-md-12 no-padding">
                                <ul class="blog-grid-info  " >

                                    <li><i class="fa fa-user"></i> Posted by:  <a ui-sref="profile({ profileid:mainevent.owner_id})"> {{mainevent.owner_name}}</a></li>

                                    <li><i class="fa fa-calendar"></i> {{mainevent.event_full_date}}</li>

                                </ul>

                                <ul class="blog-grid-info  ">
                                    <li><i class="fa fa-map-marker"></i> Address: {{mainevent.fulladdress}}</li>



                                </ul>

                                <ul class="blog-grid  ">


                                    <li ng-show="(mainevent.organization!='')"> Organization: {{mainevent.organization}}</li>
                                    <li ng-show="(mainevent.discipline!='')"> Disciplines: {{mainevent.discipline}}</li>
                                    <li ng-show="(mainevent.subdiscipline!='')"> Subdisciplines: {{mainevent.subdiscipline}}</li>

                                    <li ng-show="(mainevent.event_type!='')"> Event type: {{mainevent.event_type}}</li>
                                    <li ng-show="(mainevent.venue!='')"> Venue: {{mainevent.venue}}</li>

                                </ul>

                                <div class="pull-right">
                                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                    <div class="addthis_sharing_toolbox">
                                        <ul class="blog-social-shares blog-grid-info pull-right">
                                            <li>
                                                <a class="rounded-3x"ng-if="( mainevent.owner_id!=currentUser.proffessional_id)" ui-sref="newthread({section:'newthread', thread: mainevent.owner_id })" ><i class="rounded-x green fa fa-comment"></i></a>
                                                <a ng-if="(mainevent.owner_id==currentUser.proffessional_id)"   class="rounded-3x" ui-sref="dashboardsection({ section:'editevent',page:mainevent.id})"><i class="rounded-x green fa fa-edit"></i></a>
                                                <a  class="rounded-3x" ui-sref="dashboardsection({ section:'addevent'})"><i class="rounded-x green fa fa-plus-circle"></i></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>


                            </div>

                            <img class="img-responsive" src="{{mainevent.photo_link}}" alt="{{mainevent.title}}">

                            <p ng-bind-html="trusthtml(mainevent.content)" ></p>
                            <!-- Event Comments v2 -->



                        </div>
                    </div>
                </div><!--/end row-->
                <!-- End Events Details -->


            </div>
            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">

                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">

                        <a ui-sref="profile({ profileid:mainevent.owner_id})">

                            <img class="rounded-x img-responsive col-md-6 col-md-offset-3" ng-show="(mainevent.picture_url!='')"
                                 ng-src="{{mainevent.picture_url}}" alt="">
                            <img class="rounded-x img-responsive col-md-6 col-md-offset-3" ng-show="(mainevent.picture_url=='')"
                                 ng-src="assets/img/team/img0.jpg" alt="">
                        </a>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="align-center"> {{mainevent.owner_name}} </h3>
                        <h5 class="align-center">{{mainevent.proffesion}}</h5>
                    </div>
                </div>

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestclassifieds"  ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Latest Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li ng-show="(sideclassified.hide_owner==0)"><a ui-sref="profile({ profileid:sideclassified.owner_id})" >By {{sideclassified.owner_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                        <div class="blog-thumb-desc">
                            <h3>No Calssifieds</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Latest Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sidearticle.author_id})">
                                    {{sidearticle.author_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                        <div class="blog-thumb-desc">
                            <h3>No Articles</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestforums"   ng-init="sidebar_latestforums()">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestposts==0">

                        <div class="blog-thumb-desc">
                            <h3>No ForumPosts</h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts"   ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>



                    </div>
                </div>



            </div>
            <!-- End Right Sidebar -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->
