<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Events</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Events</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!-- Master Slider -->
<div id="containerpart" class="container content no-padding-bottom blog-ms-v2 "  ng-show="pageparm==1">


    <div class="master-slider ms-skin-black-2 round-skin" id="masterslider2" >
        <div class="ms-slide blog-slider" ng-repeat="event in slider_events" >
                <img    src="{{event.photo_link}}"    alt="{{event.title}}"/>
            <!--<span class="blog-slider-badge">{{event.attendance_total}} people interested</span>-->
            <div class="ms-info"></div>
            <div class="blog-slider-title">
                <h2><a ui-sref="eventdetails({ eventid: event.id })">{{event.title}}</a></h2>
            </div>
            <div class="ms-thumb">
                <h3><a ui-sref="eventdetails({ eventid: event.id })">{{event.event_date}}</a></h3>

                <p >{{event.short_content}}</p>
            </div>
        </div>


    </div>
</div>
<!-- End Master Slider -->




<!--=== Container Part ===-->
<div id="containerpart2"class="container content-sm" >
    <!-- Events Grid -->
    <div class="row margin-bottom-50" >
        <div class="col-sm-4 sm-margin-bottom-50" ng-repeat="event in row_events" >
            <div class="blog-grid">
                <a ui-sref="eventdetails({ eventid: event.id })">
                    <img class="img-responsive" src="{{event.photo_link}}" alt="{{event.title}}"></a>
                <h3><a ui-sref="eventdetails({ eventid: event.id })">{{event.title}}</a></h3>
                <ul class="blog-grid-info">
                    <li><i class="fa fa-users"></i> {{event.attendance_total}}</li>
                    <li><i class="fa fa-calendar"></i> {{event.event_full_date}}</li>
                </ul>
                <p ng-bind-html="trusthtml(event.medium_content)">.</p>
                <a class="r-more" ui-sref="eventdetails({ eventid: event.id })">Read More</a>

            </div>
        </div>


    </div><!--/end row-->
    <!-- End Events Grid -->


    <!-- Pager v4 -->
    <!-- Pager v4 -->
    <div class="col-md-8 pager pager-v4" ng-show="pagination.total_pages>1">
        <div class="text-right">
            <ul class="pagination">
                <li class="previous" ng-show="pagination.current_page>2">
                    <a   ui-sref="events({ page:pagination.current_page-2})">&larr; Older</a></li>
                <li class="page-amount" ng-show="pagination.links.previous">
                    <a ui-sref="events({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                <li class="active"><a ui-sref="events({ page:pagination.current_page})">
                    {{pagination.current_page}}
                </a></li>
                <li  class="page-amount" ng-show="pagination.links.next">
                    <a ui-sref="events({ page:nextpageparm})">{{nextpageparm}}
                    </a></li>

                <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                    <a ui-sref="events({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                    </a></li>
                <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                    <a ui-sref="events({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                    </a></li>
                <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                    <a ui-sref="events({ page:pagination.current_page+3})">Newer &rarr;</a>
                </li>
                <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                    <a   ui-sref="events({ page:pagination.current_page+4})">Newer &rarr;</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- End Pager v4 -->


    <!-- End Pager v4 -->
</div >

<!--=== End Container Part ===-->
