<!-- Master Slider -->

<div class="blog-ms-v1   margin-bottom-60">
    <img class="img-responsive margin-bottom-10" src="assets/img/aboutusfad.png" alt="">
</div>
<!-- End Master Slider -->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12">
                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-30 align-center">
                    <h2 class="blog-grid-title-lg">Our Features</h2>
                    <div class="overflow-h margin-bottom-10">


                    </div>

                </div>
                <!-- End Blog Grid -->
                <p>Welcome to ForAllDoctors.com the largest, secure, private, and FREE professional and social networking website for medical, legal and PhD professionals; providing a secure and exclusive space where you can enjoy a world of FREE features.

                    You can use ForAllDoctors.com to attract prospects, build relationships, become known, sell products, seek your soul-mate, air your thoughts, express your expertise, and do a lot, lot more.</p><br>

                <span class="single-page-quote single-page-quote-left">
					<p>Why join & What you get
						<br>
					 </p>
				</span>
                <div class="clear-right">
                    <p>

                    </p>
                    <br><br><br>
                </div>
                <p>
                <ul class="footer-lists">
                    <li><i class="fa fa-angle-right"></i>
                        Unlike your own website, your ForAllDoctors.com website costs you Zero Dollars to create and host.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Millions of Internet users searching for doctors and lawyers can easily discover your Free ForAllDoctors.com website via our Free Directory.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Terms and Condition
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Only ForAllDoctors.com provides a Secure and Exclusive Platform, where you can choose to interact in a variety of self controlled ways with doctors of your own or other professions.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Only on ForAllDoctors.com, you can Chat or Video Chat with other doctors in a private and exclusive environment, exchanging professional and social opinions and even Personals.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        ForAllDoctors.com lets you reach out to doctors, lawyers and PhDs around the world.
                    </li>
                <li><i class="fa fa-angle-right"></i>
                    Your ForAllDoctors.com membership comes with a Bundle of Free Benefits—we believe everything should be Free for our doctors.
                </li>

                </ul>

                <p></p>
                <span class="single-page-quote single-page-quote-left">
					<p> Our Features List
						<br>
					 </p>
				</span>
                <div class="clear-right">
                    <p>

                    </p>
                    <br><br><br>
                </div>
                <p>Joining ForAllDoctors.com doesn’t take more than a couple of minutes.<br>
                    Just log on to ForAllDoctors.com, take a minute to fill your name, some basic info, upload your proof of profession and you are done.
                </p>
                <p>
                <ul class="footer-lists">
                    <li><i class="fa fa-angle-right"></i>
                        Make your Free, turnkey ready website in minutes.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Claim your custom URL NOW.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Let the world find you through verified Directory Listings
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Enjoy Free, Secure & HIPAA Compliant* Email with 250 MB attachment capability.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Free Classifieds—posted by doctors, viewed by doctors.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Free Personals—find your soul-mate or a casual date from the profession of your choice.
                    </li>
                    <li><i class="fa fa-angle-right"></i>
                        Continuing Education courses to make you shine.
                    </li>
                <li><i class="fa fa-angle-right"></i>
                    Free Online-Store for selling your products and services.
                </li>
                <li><i class="fa fa-angle-right"></i>
                    Free Chat and Video Chat with other doctors instantly.
                </li>
                <li><i class="fa fa-angle-right"></i>
                    Free Forums—Air your views to a targeted audience.
                </li>
                <li><i class="fa fa-angle-right"></i>
                    Free Blogs and Video Blogs to share your ideas with other intellectuals.
                </li>
                <li><i class="fa fa-angle-right"></i>
                    A Flip Side Website for our doctors to lounge and have fun
                </li>
                <li><i class="fa fa-angle-right"></i>
                    And much more.
                </li>

                </ul>



                <span class="single-page-quote single-page-quote-left">
					<p> Our Mission
						<br>
					 </p>
				</span>
                <div class="clear-right">
                    <p>

                    </p>
                    <br><br><br>
                </div>
                <p>

                    ForAllDoctors.com welcomes you to the largest, secure, HIPAA compliant, Free, Professional And Social Networking Website Of Its Kind - exclusive to medical, legal and Ph.D. professionals worldwide.
                </p><br>

                <p>
                    Most effective efforts are made for verification of all members, before permitted access to ForAllDoctors.com (E.g. NPI, Professional license number, Certificates, etc...).<br><br>

                    For AllDoctors.com – the largest philanthropic entity in the world; not in the financial sense, but where the largest accumulation of like minded intellectuals can contribute to advancement in such areas as, medicine, law, science, economy, technology, veterinary and much more. ForAllDoctors.com has been consciously equipped with the tools and environment to freely and naturally, promote the cultivation of such advancement. To this end, ForAllDoctors.com’s member search feature enables its members to find other professionals using precision, micro targeted searches; focusing from the specific profession to geo-location or exact office address.
                </p><br>
                <p>
                    ForAllDoctors.com not only provides its members privacy and confidentiality, but also allows its members the flexibility to choose the arena of participation they are most interested in at any time. That is, a member can select whether she/he is interested to enter a sphere where communication is between all members of the site, OR, where communications is restricted to members of his/her profession only. For instance, an attorney would not be able to view the private forum discussions of a physician, unless the physician chooses to participate in the forums designed specifically for “all access” communications (and of course visa versa).
                </p><br>
                    <p>
                        Members are provided the flexibility to be known or anonymous in different platforms of the site (but rest assured that all members, whether known or anonymous, are all verified doctors, lawyers or PhDs).
                    </p><br>
                    <p>There are over three hundred modules and utilities in the site that cannot all be discussed at this time.
                    </p><br>
                <p>
                    ForAllDoctors.com is a revolutionary and visionary entity. We are taking horse and buggy epoch into Mars landing in the speed of electrons. World health, world economics, investment, ethics, education, pathology and more, can all be discussed most intelligently worldwide, in ForAllDoctors.com - THE LARGEST VIRTUAL CONVENTION IN THE WORLD.
                </p>
                <br>

            </div>
            <!-- End Main Content -->


        </div>
    </div>
    <!--=== End Container Part ===-->


