<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Forum - For All Doctors</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Forum</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20 " id="containerpart">
    <div class="container margin-bottom-40 "  ng-init="initforumscontr()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">

                <!-- Section Forums -->
                <div class="tag-box tag-box-v1 margin-bottom-40" ng-repeat="forum in homeforums">

                    <div class="headline"><h2>
                        <i class="fa fa-file-text-o"></i>
                       <a ui-sref="forums" >{{forum.name}} </a> </h2></div>

                    <table class="table">
                        <tbody>
                        <tr ng-repeat="section in forum.sections" >
                            <td><h5><i class="fa fa-comments-o"></i></h5></td>
                            <td>
                                <h4><a ui-sref="forumdetails({ forumid: section.id })">{{section.forum_name}}</a></h4>
                                {{section.forum_desc}}
                            </td>
                            <td>
                                <span>{{section.posts_count}}</span>
                                <br>
                                Topics
                            </td>
                            <td>





                            </td>
                            <td ng-show="(section.forum_last_post_subject!='')" >


                                <strong >
                                    <a ui-sref="topicdetails({ topicid:section.forum_last_post_id})" > <div ng-bind-html="trusthtml(section.forum_last_post_subject)"></div>
                                    </a>
                                </strong>
                                <br>
                                     <span >
                                       By <a ui-sref="profile({ profileid: section.forum_last_poster_id })">{{section.forum_last_poster_name}}</a>
                                     </span >
                                     <span >{{section.updated_at}}  </span>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <!-- End Section Forums -->


            </div>
            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3" id="right_bar">




                <div class="margin-bottom-50 "  ng-show="(statisticsresulterror!='')">
                    <h2 class="title-v4"><i class="fa fa-users"></i> Total Members</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>{{statisticsresulterror}}</li>
                            </ul>
                            <h3>{{sidebarstatistics['total_memebrs']}}</h3>
                        </div>
                        <hr class="margin-top-bottom-10">

                    </div>

                </div>
                <!-- End Total Members -->







                <!-- Total Members -->
                <div class="margin-bottom-50 " id="sidebar_containerpart">
                    <h2 class="title-v4"><i class="fa fa-users"></i> Total Members</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Total Members</li>
                            </ul>
                            <h3>{{sidebarstatistics['total_memebrs']}}</h3>
                        </div>
                        <hr class="margin-top-bottom-10">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Our Newest Member</li>
                            </ul>
                            <h3><a ui-sref="profile({ profileid: sidebarstatistics['latest_memebr_id'] })" >{{sidebarstatistics['latest_memebr_name']}}
                                            {{sidebarstatistics['latest_memebr_id']}}</a></h3>
                        </div>
                        <hr class="margin-top-bottom-10">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>In Total There Are 44 Users Online</li>
                            </ul>
                            <h3>12 Registered, 0 Hidden And 32 Guests</h3>
                        </div>
                    </div>

                </div>
                <!-- End Total Members -->


                <!-- Statistics -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4"><i class="fa fa-bar-chart"></i> Statistics</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Total Posts</li>
                            </ul>
                            <h3>{{sidebarstatistics['total_posts']}}</h3>
                        </div>
                        <hr class="margin-top-bottom-10">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Total Topics</li>
                            </ul>
                            <h3>{{sidebarstatistics['total_topics']}}</h3>
                        </div>
                    </div>

                </div>
                <!-- End Statistics -->


            </div>
            <!-- End Right Sidebar -->




        </div>
    </div>
</div>
<!--=== End Container Part ===-->
