<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Forum Section - {{mainforum.name}} </h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-serf="/">Home</a></li>
            <li><a ui-sref="forums">Forum</a></li>
            <li class="active">Forum Section</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



     <!--=== Container Part ===-->
    <div class="margin-top-20 " id="containerpart" >
        <div class="container margin-bottom-40 " ng-init="initforumcontr()">
            <div class="row">
                <!-- Main Content -->
                <div class="col-md-9">

                    <div class="col-md-2 margin-top-20 font-size-16">
                        {{pagination.total}} Topics
                    </div>
                    <div class="col-md-2 margin-top-20">
                        <a ng-click="(task='addtopic')" class="font-size-16"><i class="fa fa-edit"></i> New Topic</a>
                    </div>

                    <div class="col-md-8" ng-show="pagination.total_pages>1">
                        <div class="text-right">
                            <ul class="pagination">
                                <li ng-show="pagination.current_page>2">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page-2})">«</a></li>
                                <li ng-show="pagination.links.previous">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                                <li class="active"><a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page})">
                                    {{pagination.current_page}}
                                </a></li>
                                <li  ng-show="pagination.links.next">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm})">{{nextpageparm}}
                                    </a></li>

                                <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                    </a></li>
                                <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                    </a></li>
                                <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page+3})">»</a>
                                </li>
                                <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                    <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page+4})">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8 margin-bottom-30" ng-show="(pagination.total_pages==1)">
                        <div class="text-right">
                        </div>
                    </div>

                    <div class="container margin-bottom-40">
                        <div class="row">
                            <!-- Main Content -->
                            <div class="col-md-9">

                                <!-- General Forms -->
                                <form  class="sky-form"  ng-show="(task=='addtopic')">
                                    <header>Add Forum Topic</header>

                                    <fieldset>
                                        <section>
                                            <label class="label">Topic title</label>
                                            <label class="input" >
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" id="addtopictitle" name="addtopictitle"   required
                                                       placeholder="Focus to view the tooltip" value="">
                                                <b class="tooltip tooltip-top-left">Your Name</b>
                                                <h1>{{addtopictitle.$valid}}</h1>
                                            </label>
                                        </section>


                                        <section>
                                    <textarea  ckeditor="editorOptions" ng-model="topiccontent" >
                                   <h1>{{topiccontent.$valid}}</h1>

                                    </textarea>
                                        </section>


                                        <section>
                                            <label class="label">Topic Tag</label>
                                            <label class="input" >
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" id="addtopictags" name="addtopictags"
                                                       placeholder="Focus to view the tooltip" value="">
                                                <b class="tooltip tooltip-top-left">Post tags</b>
                                                <h1>{{addtopictags.$valid}}</h1>
                                            </label>
                                        </section>


                                    </fieldset>




                                <footer>
                                    <input type="hidden" id="addforum_id" name="addforum_id" value="{{forumidparm}}" >
                                    <button  ng-click="addforumtopic(this)" class="btn-u">Save</button>
                                    <button  type="button" ng-click="cancel_add(this);" class="btn-u">Cancel</button>

                                    </footer>
                                </form>
                                <!-- General Forms -->

                                <!-- General Forms -->
                                <form  class="sky-form"  ng-show="(task=='edittopic')">
                                    <header>Edit Forum Topic</header>

                                    <fieldset>
                                        <section>
                                            <label class="label">Topic title</label>
                                            <label class="input" >
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" id="topictitle" name="topictitle" ng-model="topictitle" required
                                                       placeholder="Focus to view the tooltip" value="{{editforumtopicval.title}}">
                                                <b class="tooltip tooltip-top-left">Your Name</b>
                                                <h1>{{editforumtopicval.topictitle.$valid}}</h1>
                                            </label>
                                        </section>


                                        <section>
                                    <textarea ckeditor="editorOptions" ng-model="modelupdateforumtopic" >
                                   <h1>{{modelupdateforumtopic.$valid}}</h1>

                                    </textarea>
                                        </section>

                                        <section>
                                            <label class="label">Forum Topic Tag</label>
                                            <label class="input" >
                                                <i class="icon-prepend fa fa-question-circle"></i>
                                                <input type="text" id="topictags" name="topictags"
                                                       placeholder="Focus to view the tooltip" value="{{editforumtopicval.tags}}">
                                                <b class="tooltip tooltip-top-left">Post tags</b>
                                                <h1>{{editforumtopicval.topictags.$valid}}</h1>
                                            </label>
                                        </section>
                                    </fieldset>

                                    <footer>
                                        <input type="hidden" id="topic_id" name="topic_id" value="{{editforumtopicval.id}}" >
                                        <input type="hidden" id="forum_id" name="forum_id" value="{{editforumtopicval.forum_id}}" >
                                        <button  ng-click="saveforumtopic(this)" class="btn-u">Save</button>
                                        <button  type="button" ng-click="cancel_add(this);" class="btn-u">Cancel</button>

                                    </footer>
                                </form>
                                <!-- General Forms -->






                            <!-- Topics -->
                            <div class="tag-box tag-box-v1 margin-bottom-40">

                                <div class="headline"><h2><i class="fa fa-file-text-o"></i> Topics</h2></div>

                                <table class="table" >
                                    <tbody>
                                    <tr ng-show="pagination.total==0">
                                        <td>
                                            <h4>
                                                <span>No Topics in this Section Be the first to post</span>
                                                <a href="#" class="font-size-16"><i class="fa fa-edit"></i> Start a Topic</a>

                                            </h4>


                                        </td>
                                        <td>       </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                    <tr ng-repeat="topic in hometopics" id="topic_{{topic.id}}">
                                        <td><h5><i class="fa fa-comments-o"></i></h5></td>
                                        <td>
                                            <h4><a ui-sref="topicdetails({ topicid:topic.id})">
                                                {{topic.title}}
                                            </a>
                                            </h4>
                                            by <span><a ui-sref="profile({ profileid: topic.poster_id })">{{topic.poster}}</a></span>
                                            <i class="fa fa-arrow-circle-right"></i> <span>{{topic.created_at}}</span>
                                        </td>
                                        <td>
                                            <span>{{topic.posts_count}}</span>
                                            <br>
                                            Replies
                                        </td>
                                        <td>
                                            <div class="addthis_sharing_toolbox">
                                            <ul class="blog-social-shares blog-grid-info pull-right">
                                                <li>
                                                    <a ng-if="(topic.owner_id==currentUser.proffessional_id)"
                                                       class="rounded-3x" ng-click="editforumtopic(topic.id)"><i class="rounded-x green fa fa-edit"></i></a>
                                                </li>

                                                <li>
                                                    <a ng-if="(topic.owner_id==currentUser.proffessional_id)"
                                                       class="rounded-3x" ng-click="deleteforumtopic(topic.id)"><i class="rounded-x green fa fa-trash"></i></a>
                                                </li>

                                            </ul>

                                        </div>
                                        </td>
                                        <td ng-if="(topic.topic_last_poster_name!='')">
                                            <strong>Last post by <a ui-sref="profile({ profileid: topic.topic_last_poster_id })"> {{topic.topic_last_poster_name}} </a></strong>
                                            <br>
                                            {{topic.updated_at}}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <!-- End Topics -->


                                <div class="col-md-2 margin-top-20">
                                    <a ng-click="new_topic()" class="font-size-16"><i class="fa fa-edit"></i> New Topic</a>
                                </div>

                                <div class="col-md-2 margin-top-20 font-size-16">
                                    {{pagination.total}} Topics
                                </div>

                                <div class="col-md-8" ng-show="pagination.total_pages>1">
                                    <div class="text-right">
                                        <ul class="pagination">
                                            <li ng-show="pagination.current_page>2">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page-2})">«</a></li>
                                            <li ng-show="pagination.links.previous">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                                            <li class="active"><a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page})">
                                                {{pagination.current_page}}
                                            </a></li>
                                            <li  ng-show="pagination.links.next">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm})">{{nextpageparm}}
                                                </a></li>

                                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                                </a></li>
                                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                                </a></li>
                                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page+3})">»</a>
                                            </li>
                                            <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                                <a ui-sref="forumdetails({ forumid: forumidparm,page:pagination.current_page+4})">»</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>



                        </div>
                        <!-- End Main Content -->


                        <!-- Right Sidebar -->
                        <div class="col-md-3">


                            <!-- Blog Thumb v2 -->
                            <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                                <h2 class="title-v4">Latest Blogs</h2>

                                <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                                     ng-repeat="sideblog in sidebarlatestblogs">

                                    <div class="blog-thumb-hover">
                                        <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                             ng-src="{{sideblog.photo_link}}" alt="">
                                        <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                             ng-src="assets/img/team/img1.jpg" alt="">
                                        <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                            <i class="fa fa-link"></i></a>
                                    </div>

                                    <div class="blog-thumb-desc">
                                        <ul class="blog-thumb-info">
                                            <li><a href="#">{{sideblog.by}}</a></li>
                                        </ul>
                                        <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                                    </div>
                                </div>
                                <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                                    <div class="blog-thumb-desc">
                                        <h3>No Blogs</h3>
                                    </div>
                                </div>

                            </div>
                            <!-- End Blog Thumb v2 -->


                            <!-- Blog Thumb v2 -->
                            <div class="margin-bottom-50 " id="latestclassifieds" ng-init="sidebar_latestclassifieds()" >
                                <h2 class="title-v4">Latest Classifieds</h2>

                                <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                                    <div class="col-md-4 col-sm-2 col-xs-4">
                                        <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                            <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <ul class="blog-thumb-info">
                                            <li><a href="#">By {{sideclassified.owner_name}}</a></li>
                                        </ul>
                                        <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                                    </div>
                                </div>
                                <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                                    <div class="blog-thumb-desc">
                                        <h3>No Calssifieds</h3>
                                    </div>
                                </div>

                            </div>
                            <!-- End Blog Thumb v2 -->


                            <!-- Blog Thumb v2 -->
                            <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                                <h2 class="title-v4">Latest Articles</h2>

                                <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                                    <div class="blog-thumb-hover">
                                        <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                             ng-src="{{sidearticle.photo_link}}" alt="">
                                        <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                             ng-src="assets/img/team/img1.jpg" alt="">
                                        <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                            <i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li><a href="#">Name</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                                    <div class="blog-thumb-desc">
                                        <h3>No Articles</h3>
                                    </div>
                                </div>

                            </div>
                            <!-- End Blog Thumb v2 -->

                            <!-- Blog Thumb v2 -->
                            <div class="margin-bottom-50 " id="latestproducts"   ng-init="sidebar_latestproducts()" >
                                <h2 class="title-v4">Products</h2>

                                <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                                    <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                                        <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                             ng-src="{{sideproduct.photo_link}}" alt="">
                                        <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                             ng-src="assets/img/thumb/store.jpg" alt="">
                                        <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                            <i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                                        <div class="blog-thumb-desc">
                                            <h3>No Products</h3>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                        <!-- End Right Sidebar -->


                    </div>






        </div>
    </div>
    <!--=== End Container Part ===-->







