<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Forum - For All Doctors</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Forum</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Container Part ===-->
<div class="margin-top-20 spinner" id="containerpart">
    <div class="container margin-bottom-40" ng-init="inittopicontr()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">

                <div class="col-md-2 margin-top-20 font-size-16">
                    179 Topics
                </div>

                <div class="col-md-2 margin-top-20">
                    <a href="#" class="font-size-16"><i class="fa fa-mail-reply"></i> Post Reply</a>
                </div>

                <div class="col-md-8" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li ng-show="pagination.current_page>2">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page-2})">«</a></li>
                            <li ng-show="pagination.links.previous">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  ng-show="pagination.links.next">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+3})">»</a>
                            </li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+4})">»</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="headline"><h2>Global Topic in Information Category</h2></div>

                <!-- Topic -->
                <div class="tag-box tag-box-v1 margin-bottom-40">

                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h4><a href="#">Global Topic in Information Category</a></h4>
                                by <span><a href="#">admin</a></span> <i class="fa fa-arrow-circle-right"></i> <span>Sun Jul 03, 2016 8:34 am</span>
                            </td>
                            <td>
                                <span>Posts:</span>
                                <br>
                                17
                            </td>
                            <td>
                                <strong><a href="#">admin</a> / Site Admin</strong>
                                <br>
                                Joined: Tue Jun 14, 2016 10:47 am
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p>
                                    <strong class="margin-top-20 display-inline-block">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    </strong>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End Topic -->

                <!-- Topic Reply -->
                <div class="tag-box tag-box-v1 margin-bottom-40" ng-repeat="post in homeposts"  >

                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h4><a href="#">{{post.title}}</a></h4>
                                <span>{{post.posted_date }}</span>
                            </td>
                            <td>

                            </td>
                            <td>
                                by <span><a href="#">{{post.by}}</a></span> <i class="fa fa-arrow-circle-right"></i>

                                <br>
                                Joined: Tue Jun 14, 2016 10:47 am
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
								<span class="margin-top-20 display-inline-block">
									<p>
									{{post.text}}
									</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End Topic Reply -->



                <div class="col-md-2 margin-top-20 font-size-16">
                    179 Topics
                </div>

                <div class="col-md-2 margin-top-20">
                    <a href="#" class="font-size-16"><i class="fa fa-mail-reply"></i> Post Reply </a>
                </div>

                <div class="col-md-8" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li ng-show="pagination.current_page>2">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page-2})">«</a></li>
                            <li ng-show="pagination.links.previous">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  ng-show="pagination.links.next">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+3})">»</a>
                            </li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+4})">»</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- End Main Content -->


            <!-- Right Sidebar -->
            <div class="col-md-3" ng-init="sidebar()">

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner" id="latestforums">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="lastpost in sidebarlatestposts">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:lastpost.topic_id})">{{lastpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a href="#">{{lastpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>




                </div>
                <!-- End Blog Thumb v2 -->



                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">{{sideblog.by}}</a></li>
                            </ul>
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="latestproducts" ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>



                    </div>
                </div>

            </div>
            <!-- End Right Sidebar -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->

