<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Topic  - {{maintopic.title}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-serf="forum">Forums</a></li>
            <li><a ui-sref="forumdetails({ forumid: maintopic.forum_id })">{{maintopic.title}}</a></li>
            <li class="active">Topic Details</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Container Part ===-->
<div class="margin-top-20 " id="containerpart">
    <div class="container margin-bottom-40" ng-init="inittopicontr()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9" id="content_area">

                <div class="col-md-2 margin-top-20 font-size-16">
                    {{maintopic.posts_count}} Posts
                </div>

                <div class="col-md-2 margin-top-20">
                    <a ng-click="(task='addpost')" class="font-size-16"><i class="fa fa-mail-reply"></i> Post Reply</a>
                </div>

                <div class="col-md-8" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li ng-show="pagination.current_page>2">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page-2})">«</a></li>
                            <li ng-show="pagination.links.previous">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  ng-show="pagination.links.next">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+3})">»</a>
                            </li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+4})">»</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-8 margin-top-20 " ng-show="(pagination.total_pages<2)">
                    <div class="text-right">

                        <ul class="pagination"></ul>
                    </div>
                </div>



                <div class="headline"><h2>{{maintopic.title}}</h2></div>

                <!-- Topic -->
                <div class="tag-box tag-box-v1 margin-bottom-40" >

                    <!-- General Forms -->
                    <form  class="sky-form"  ng-show="(task=='addpost')">
                        <header>Post Reply</header>

                        <fieldset>
                            <section>
                                <label class="label">Subject</label>
                                <label class="input" >
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" id="addposttitle" name="addposttitle"   required
                                           placeholder="Focus to view the tooltip" value="">
                                    <b class="tooltip tooltip-top-left">Subject</b>
                                    <h1>{{addposttitle.$valid}}</h1>
                                </label>
                            </section>


                            <section>
                                    <textarea  ckeditor="editorOptions" ng-model="postcontent" >
                                   <h1>{{postcontent.$valid}}</h1>

                                    </textarea>
                            </section>


                        </fieldset>




                        <footer>
                            <input type="hidden" id="topic_id" name="topic_id" value="{{topicidparm}}" >
                            <button  ng-click="addforumpost(this)" class="btn-u">Save</button>
                            <button  type="button" ng-click="cancel_add(this);" class="btn-u">Cancel</button>

                        </footer>
                    </form>
                    <!-- General Forms -->

                    <!-- General Forms -->
                    <form  class="sky-form"  ng-show="(task=='editpost')">
                        <header>Edit Forum Topic</header>

                        <fieldset>
                            <section>
                                <label class="label">title</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" id="title" name="title" ng-model="title" required
                                           placeholder="Focus to view the tooltip" value="{{editforumpostval.title}}">
                                    <b class="tooltip tooltip-top-left">Your Name</b>
                                    <h1>{{editforumpostval.title.$valid}}</h1>
                                </label>
                            </section>


                            <section>
                                    <textarea ckeditor="editorOptions" ng-model="modelupdateforumpost" >
                                   <h1>{{modelupdateforumpost.$valid}}</h1>

                                    </textarea>
                            </section>

                        </fieldset>

                        <footer>

                            <input type="hidden" id="post_edit_topic_id" name="post_edit_topic_id" value="{{maintopic.id}}" >
                            <input type="hidden" id="editpost_id" name="editpost_id" value="{{editforumpostval.id}}" >
                            <button  ng-click="saveforumpost(this)" class="btn-u">Save</button>
                            <button  type="button" ng-click="cancel_add(this);" class="btn-u">Cancel</button>

                        </footer>
                    </form>
                    <!-- General Forms -->



                    <table class="table" id="topic_main">
                        <tbody>
                        <tr>
                            <td>
                                <h4><a href="#">{{maintopic.title}}</a></h4>
                                by <span><a ui-sref="profile({ profileid: maintopic.owner_id })">{{maintopic.poster}}</a></span> <i class="fa fa-arrow-circle-right"></i>
                                <span>{{maintopic.updated_at}}</span>
                            </td>
                            <td>
                                <span>Posts:</span>
                                <br>
                                {{maintopic.posts_count}}
                            </td>
                            <td>
                               By <strong><a ui-sref="profile({ profileid: maintopic.owner_id })">{{maintopic.poster}}</a> </strong>
                                <br>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p>
                                    <strong class="margin-top-20 display-inline-block" ng-bind-html="trusthtml(maintopic.content)">

                                    </strong>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End Topic -->

                <!-- Topic Reply -->
                <div class="tag-box tag-box-v1 margin-bottom-40" ng-repeat="post in homeposts" id="post_{{post.id}}" >

                    <table class="table" >
                        <tbody>
                        <tr >
                            <td>
                                <h4><a href="#">{{post.title}}</a></h4>

                            </td>

                            <td>
                                by <span><a ui-sref="profile({ profileid: post.poster_id })">{{post.by}}</a></span> <i class="fa fa-arrow-circle-right"></i>

                                <br>
                               {{post.posted_date}}
                            </td>
                            <td>
                                <div class="addthis_sharing_toolbox">
                                    <ul class="blog-social-shares blog-grid-info pull-right">
                                        <li>
                                            <a ng-if="(post.poster_id==currentUser.proffessional_id)"
                                               class="rounded-3x" ng-click="editforumpost(post.id)"><i class="rounded-x green fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                            <a ng-if="(post.poster_id==currentUser.proffessional_id)"
                                               class="rounded-3x" ng-click="deleteforumpost(post.id)"><i class="rounded-x green fa fa-trash"></i></a>
                                        </li>

                                    </ul>

                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
								<span class="margin-top-20 display-inline-block">
									<div ng-bind-html="trusthtml(post.text)">
                                    </div>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End Topic Reply -->



                <div class="col-md-2 margin-top-20 font-size-16">
                    {{maintopic.posts_count}} Posts
                </div>

                <div class="col-md-2 margin-top-20">
                    <a ng-click="new_post()" class="font-size-16"><i class="fa fa-mail-reply"></i> Post Reply </a>
                </div>

                <div class="col-md-8" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li ng-show="pagination.current_page>2">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page-2})">«</a></li>
                            <li ng-show="pagination.links.previous">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  ng-show="pagination.links.next">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+3})">»</a>
                            </li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a ui-sref="topicdetails({ topicid: topicidparm,page:pagination.current_page+4})">»</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- End Main Content -->


            <!-- Right Sidebar -->
            <div class="col-md-3">


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">{{sideblog.by}}</a></li>
                            </ul>
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestclassifieds" ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Latest Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">By {{sideclassified.owner_name}}</a></li>
                            </ul>
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                        <div class="blog-thumb-desc">
                            <h3>No Calssifieds</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Latest Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a href="#">Name</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                        <div class="blog-thumb-desc">
                            <h3>No Articles</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts"   ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <!-- End Right Sidebar -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->

