<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Groups</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Groups</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Main Content -->
            <div class="col-md-9" id="content_center">

                <div class="col-md-9" ng-show="(( (maingroup.joined && maingroup.joined.accepted!=0) ||  maingroup.creator_id==currentUser.proffessional_id ) && task!='manageusers')">
                    <div class="text-right">
                        <ul class="pagination">
                            <li > <a ng-click="(task='addvideo')">Post Video</a></li>
                            <li > <a ng-click="(task='addphoto')">Post Photo</a></li>
                            <li > <a ng-click="(task='addpost')">Post Content </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    <!-- General Forms -->
                    <form  class="sky-form"  ng-show="(task=='addpost')">
                        <header>Post Content</header>

                        <fieldset>
                            <section>
                                <label class="label">Title</label>
                                <label class="input" >
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" id="contenttitle" name="contenttitle"   required
                                           placeholder="Focus to view the tooltip" value="">
                                    <b class="tooltip tooltip-top-left">Title</b>
                                    <h1>{{contenttitle.$valid}}</h1>
                                </label>
                            </section>


                            <section>
                                    <textarea  ckeditor="editorOptions" ng-model="postcontent" >
                                   <h1>{{postcontent.$valid}}</h1>

                                    </textarea>
                            </section>

                            <section>
                                <label class="label">image</label>
                                <label for="file" class="input input-file">
                                    <div class="button">
                                        <input type="file" file-model="addgroupcontentimages"
                                               onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                                    <input type="text" readonly>
                                </label>
                            </section>

                        </fieldset>




                        <footer>
                            <button  ng-click="addgrouppost(this)" class="btn-u">Save</button>
                            <button  type="button" ng-click="cancel(this);" class="btn-u">Cancel</button>

                        </footer>
                    </form>
                    <!-- General Forms -->

                    <!-- General Forms -->
                    <form  class="sky-form"  ng-show="(task=='addphoto')">
                        <header>Post Photo</header>

                        <fieldset>
                            <section>
                                <label class="label">Title</label>
                                <label class="input" >
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" id="phototitle" name="phototitle"   required
                                           placeholder="Focus to view the tooltip" value="">
                                    <b class="tooltip tooltip-top-left">Title</b>
                                    <h1>{{phototitle.$valid}}</h1>
                                </label>
                            </section>

                            <section>
                                <label class="label">image</label>
                                <label for="file" class="input input-file">
                                    <div class="button">
                                        <input type="file" file-model="addgroupphotoimages"
                                               onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                                    <input type="text" readonly>
                                </label>
                            </section>

                        </fieldset>

                        <footer>
                            <button  ng-click="addgroupphoto(this)" class="btn-u">Save</button>
                            <button  type="button" ng-click="cancel(this);" class="btn-u">Cancel</button>

                        </footer>
                    </form>
                    <!-- General Forms -->

                    <!-- General Forms -->
                    <form  class="sky-form"  ng-show="(task=='addvideo')">
                        <header>Post Reply</header>

                        <fieldset>
                            <section>
                                <label class="label">Title</label>
                                <label class="input" >
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" id="videotitle" name="videotitle"   required
                                           placeholder="Focus to view the tooltip" value="">
                                    <b class="tooltip tooltip-top-left">Title</b>
                                    <h1>{{videotitle.$valid}}</h1>
                                </label>
                            </section>

                            <section>
                                <label class="label">image</label>
                                <label for="file" class="input input-file">
                                    <div class="button">
                                        <input type="file" file-model="addgroupcontentvideo"
                                               onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                                    <input type="text" readonly>
                                </label>
                            </section>

                        </fieldset>




                        <footer>
                            <button  ng-click="addgroupvideo(this)" class="btn-u">Save</button>
                            <button  type="button" ng-click="cancel(this);" class="btn-u">Cancel</button>

                        </footer>
                    </form>
                    <!-- General Forms -->

                </div>


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(task=='manageusers')">
                    <div class="panel-heading">

                        <label class="pull-right panel-title ">
                            <a ng-click="backtomaingroup()"><i class="fa fa-exit">Back To Group</i> </a> </label>

                        <h3 class="panel-title"> <i class="fa fa-users top-bar-icon pull-right"></i> Manage Users


                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Member</th>
                                <th>Action</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in groupusers_list" id="member_{{user.id}}">
                                <td>{{user.id}}</td>
                                <td><a >{{user.name}} </a></td>


                                <td>
                                    <button ng-show="(user.accepted=='0')"  ng-click="approveuser(user.group_id,user.profile_id);user.accepted=1"
                                            class="btn btn-success btn-xs"><i class="fa fa-arrow-right"></i> Approve</button>
                                    <button ng-show="(user.accepted=='1')"  ng-click="removeuser(user.group_id,user.profile_id);user.accepted=0"
                                            class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Remove</button>

                                </td>
                                <td>
                                    <button  ng-if="(user.accepted=='0')" class="btn btn-warning  btn-xs">    <i class="fa fa-pencil"></i> Waiting Acceptance </button>

                                    <button  ng-if="(user.accepted=='1')" class="btn btn-success btn-xs">     <i class="fa fa-arrow-right"></i> Approved</button>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="col-md-8" ng-show="groupusers_pagination.total_pages>1">
                                        <div class="text-right">
                                            <ul class="pagination">
                                                <li ng-show="groupusers_pagination.current_page>2">
                                                    <a  ng-click="managegroup(maingroup.id,groupusers_pagination.current_page-2)">«</a></li>
                                                <li ng-show="groupusers_pagination.links.previous">
                                                    <a ng-click="managegroup(maingroup.id,manage_users_prepageparm)" >{{groupusers_pagination.current_page-1}}</a></li>
                                                <li class="active">
                                                    <a ng-click="managegroup(maingroup.id,groupusers_pagination.current_page)">
                                                        {{groupusers_pagination.current_page}}
                                                    </a></li>
                                                <li  ng-show="groupusers_pagination.links.next">
                                                    <a ng-click="managegroup(maingroup.id,manage_users_nextpageparm)">{{manage_users_nextpageparm}}
                                                    </a></li>

                                                <li  ng-show="(((manage_users_nextpageparm+1)-groupusers_pagination.current_page>=2) &&
                                                               (groupusers_pagination.total_pages >= (manage_users_nextpageparm+1)))">
                                                    <a ng-click="managegroup(maingroup.id,manage_users_nextpageparm)">{{(manage_users_nextpageparm+1)}}
                                                    </a></li>
                                                <li  ng-show="((groupusers_pagination.current_page==1) &&  (groupusers_pagination.total_pages > (manage_users_nextpageparm+2)))">
                                                    <a ng-click="managegroup(maingroup.id,manage_users_nextpageparm+2)">{{(manage_users_nextpageparm+2)}}
                                                    </a></li>
                                                <li ng-show="((groupusers_pagination.total_pages-groupusers_pagination.current_page)>=3 && groupusers_pagination.current_page>1)">
                                                    <a ng-click="managegroup(maingroup.id,groupusers_pagination.current_page+3)">»</a>
                                                </li>
                                                <li ng-show="((groupusers_pagination.total_pages-groupusers_pagination.current_page)>4 && groupusers_pagination.current_page==1)">
                                                    <a ng-click="managegroup(maingroup.id,groupusers_pagination.current_page+4)">»</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->



                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50" ng-repeat="content in groupcontent" id="content_{{content.id}}" >
                    <img class="img-responsive" src="{{content.photo_link}}" alt="" ng-show="(content.type=='content')">
                    <div class="blog-grid-inner" ng-show="(content.type=='content')">
                        <h3><a >{{content.title}}</a></h3>
                        <ul class="blog-grid-info addthis_sharing_toolbox">
                            <li ng-click="gottoprofile(content.poster_id)">{{content.poster}}</li>
                            <li>{{content.created_at}}</li>
                            <li>
                                <a ng-if="(content.professional_id==currentUser.proffessional_id || maingroup.creator_id==currentUser.proffessional_id )"
                                   class="rounded-3x" ng-click="deletecontentpost(content.id)"><i class="rounded-x green fa fa-trash"></i></a>
                            </li>
                        </ul>
                        <p ng-bind-html="trusthtml(content.content)" ></p>


                    </div>


                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4" ng-show="(content.type=='photo')">
                        <div class="blog-thumb-item">
                            <img class="img-responsive margin-bottom-10" src="{{content.photo_link}}" alt="">
                        </div>
                        <div class="blog-grid-inner"  >
                            <h3><a >{{content.title}}</a></h3>
                            <ul class="blog-grid-info">
                                <li ng-click="gottoprofile(content.poster_id)">{{content.poster}}</li>
                                <li>{{content.created_at}}</li>
                                <li>
                                    <a ng-if="(content.poster_id==currentUser.proffessional_id || maingroup.creator_id==currentUser.proffessional_id )"
                                       class="rounded-3x" ng-click="deletecontentpost(content.id)"><i class="rounded-x green fa fa-trash"></i></a>
                                </li>
                            </ul>


                        </div>

                    </div>
                    <!-- End Blog Thumb v4 -->

                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4" ng-show="(content.type=='video')">


                        <div class="blog-thumb-item">
                            <video id="example_video_1" class="video-js vjs-default-skin" controlsList="nodownload" controls preload="none" width="640" height="264"
                                   poster="assets/img/team/img0.jpg"
                                   data-setup="{}">
                                <source src="{{content.video_link}}" type='{{content.mime_type}}' />
                                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
                                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                            </video>
                        </div>

                        <div class=""  >
                            <h3><a >{{content.title}}</a></h3>
                            <ul class="blog-grid-info">
                                <li ng-click="gottoprofile(content.poster_id)">{{content.poster}}</li>
                                <li>{{content.created_at}}</li>
                                <li>
                                    <a ng-if="(content.poster_id==currentUser.proffessional_id || maingroup.creator_id==currentUser.proffessional_id )"
                                       class="rounded-3x" ng-click="deletecontentpost(content.id)"><i class="rounded-x green fa fa-trash"></i></a>
                                </li>
                            </ul>


                        </div>



                    </div>
                    <!-- End Blog Thumb v4 -->



                </div>
                <!-- End Blog Grid -->

                <!-- Pager v4 -->
                <ul class="pager pager-v4">
                    <li class="previous" ng-show="(groupcontent_pagination.links.previous)">
                        <a class="rounded-3x" ng-click="getgroupcontent(maingroup.id,groupcontent_pagination.current_page-1)">&larr; Older</a></li>
                    <li class="page-amount"></li>


                    <li class="next" ng-show="(groupcontent_pagination.links.next)">
                        <a class="rounded-3x" ng-click="getgroupcontent(maingroup.id,groupcontent_pagination.current_page+1)" >Newer &rarr;</a></li>
                </ul>
                <!-- End Pager v4 -->


            </div>
            <!-- End Main Content -->


            <!-- Right Sidebar -->
            <div class="col-md-3">


                <div class="blog-thumb blog-thumb-circle margin-bottom-30">

                    <div class="col-md-12" id="group_info">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">

                            <img class="rounded-x img-responsive col-md-12 col-sm-12 col-xs-12" ng-show="(maingroup.thumb_image!='')"
                                 ng-src="{{maingroup.thumb_image}}" alt="">
                            <img class="rounded-x img-responsive col-md-12 col-sm-12 col-xs-12" ng-show="(maingroup.thumb_image=='')"
                                 ng-src="assets/img/thumb/groups.jpg" alt="">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h5 class="align-center">{{maingroup.title}}</h5>
                            <div class="align-center margin-bottom-15">
                                <button ng-if="(maingroup.creator_id==currentUser.proffessional_id)" type="submit" ng-click="managegroup(maingroup.id,1)"
                                        class="btn-u btn-u-default btn-u-md"> <i class="fa fa-plus"></i> Manage Users
                                </button>
                                <button ng-if="(!maingroup.joined && maingroup.creator_id!=currentUser.proffessional_id)" type="submit" ng-click="sendjoinRequest(maingroup.id)" class="btn-u btn-u-default btn-u-md"> <i class="fa fa-plus"></i> Join</button>
                                <button ng-if="(maingroup.joined && maingroup.joined.accepted==0 && maingroup.creator_id!=currentUser.proffessional_id)" type="submit"  class="btn-u btn-u-default btn-u-md"> <i class="fa fa-plus"></i> Waiting Approval</button>
                                <button ng-if="(maingroup.joined && maingroup.joined.accepted==1 && maingroup.creator_id!=currentUser.proffessional_id )" type="submit" ng-click="removejoinRequest(maingroup.id)" class="btn-u btn-u-default btn-u-md"> <i class="fa fa-plus"></i> Leave</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="blog-social-shares">
                            <li>
                                <i class="rounded-x green fa fa-users"></i>
                                <a class="rounded-3x">Members</a>
                                <span class="counter">{{maingroup.total_memebrs}}</span>
                            </li>
                        </ul>
                    </div>

                </div>


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestmembers">
                    <h2 class="title-v4">Latest Members</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover" ng-repeat="member in sidebar_latestmembers" >


                            <img class="rounded-x" ng-show="(member.profile_image!='')"
                                 ng-src="{{member.profile_image}}" alt="">
                            <img class="rounded-x" ng-show="(member.profile_image=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">

                            <a class="hover-grad" ui-sref="profile({ profileid:member.profile_id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestclassifieds"  ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Latest Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li ng-show="(sideclassified.hide_owner==0)"><a ui-sref="profile({ profileid:sideclassified.owner_id})" >By {{sideclassified.owner_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                        <div class="blog-thumb-desc">
                            <h3>No Calssifieds</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Latest Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sidearticle.author_id})">
                                    {{sidearticle.author_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                        <div class="blog-thumb-desc">
                            <h3>No Articles</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->

                <div class="margin-bottom-50 " id="latestforums" ng-init="sidebar_latestforums()">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" ui-sref="topicdetails({ topicid:forumpost.topic_id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>


                </div>


                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts"    ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>



                    </div>
                </div>



            </div>
            <!-- End Right Sidebar -->



        </div>
    </div>
</div>
<!--=== End Container Part ===-->

