<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Groups</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Groups</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div id="containerpart" class="container content-sm "  ng-init="initgroupscontr()">
    <!-- Groups Grid -->
    <div class="row margin-bottom-50" >
        <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 sm-margin-bottom-50" ng-repeat="group in homegroups">
            <div class="blog-grid">
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-4">
                    <a ui-sref="groupdetails({ groupid: group.id })">
                        <img class="rounded-x img-responsive"  ng-src="{{group.thumb_image}}" alt="">
                        </a>
                </div>
                <h3><a ui-sref="groupdetails({ groupid: group.id })">{{group.title}}</a></h3>
                <ul class="blog-grid-info">
                    <li><i class="fa fa-users"></i> {{group.total_memebrs}}  members</li>
                </ul>

                    <a ui-sref="groupdetails({ groupid: group.id })">
                        <i class="fa fa-plus"></i> View
                    </a>

            </div>
        </div>
    </div><!--/end row-->
    <!-- End Groups Grid -->






    <!-- Pager v4 -->
    <!-- Pager v4 -->
    <div class="col-md-8 pager pager-v4" ng-show="pagination.total_pages>1">
        <div class="text-right">
            <ul class="pagination">
                <li class="previous" ng-show="pagination.current_page>2">
                    <a   ui-sref="groups({ page:pagination.current_page-2})">&larr; Older</a></li>
                <li class="page-amount" ng-show="pagination.links.previous">
                    <a ui-sref="groups({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                <li class="active"><a ui-sref="groups({ page:pagination.current_page})">
                    {{pagination.current_page}}
                </a></li>
                <li  class="page-amount" ng-show="pagination.links.next">
                    <a ui-sref="groups({ page:nextpageparm})">{{nextpageparm}}
                    </a></li>

                <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                    <a ui-sref="groups({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                    </a></li>
                <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                    <a ui-sref="groups({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                    </a></li>
                <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                    <a ui-sref="groups({ page:pagination.current_page+3})">Newer &rarr;</a>
                </li>
                <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                    <a   ui-sref="groups({ page:pagination.current_page+4})">Newer &rarr;</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- End Pager v4 -->
    <!-- End Pager v4 -->
</div>
<!--=== End Container Part ===-->
