<!-- Master Slider -->
<div class="blog-ms-v1 content-sm bg-color-darker margin-bottom-60">
    <div class="master-slider ms-skin-default" id="masterslider">
        <div class="ms-slide blog-slider">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/blog/img1.jpg" alt="lorem ipsum dolor sit"/>
            <span class="blog-slider-badge">FREE PROFESSIONAL PROFILE FOR ALL DOCTORS</span>
            <div class="ms-info"></div>
            <div class="blog-slider-title">
                <span class="blog-slider-posted">Link With all doctors and specialist doctors, lawyers and PhD professionals worldwide with your FREE Professional Profile.</span>
                <h2><a href="#">Read More</a></h2>
            </div>
        </div>
        <div class="ms-slide blog-slider">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/blog/img2.jpg" alt="lorem ipsum dolor sit"/>
            <span class="blog-slider-badge">FREE DIRECTORY LISTINGS FOR ALL DOCTORS</span>
            <div class="ms-info"></div>
            <div class="blog-slider-title">
                <span class="blog-slider-posted">All doctors and specialist doctors learn the Secret for Building A Strong Client Base, Instead of losing them to your Cmpetitors.</span>
                <h2><a href="#">Read More</a></h2>
            </div>
        </div>
        <div class="ms-slide blog-slider">
            <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="assets/img/blog/img3.jpg" alt="lorem ipsum dolor sit"/>
            <span class="blog-slider-badge">FREE PROFESSIONAL PROFILE FOR ALL DOCTORS</span>
            <div class="ms-info"></div>
            <div class="blog-slider-title">
                <span class="blog-slider-posted">Link With all doctors and specialist doctors, lawyers and PhD professionals worldwide with your FREE Professional Profile.</span>
                <h2><a href="#">Read More</a></h2>
            </div>
        </div>
    </div>
</div>
<!-- End Master Slider -->

<!--=== Container Part ===-->
<div class="container margin-bottom-40">
    <div class="row">
        <!-- Main Content -->
        <div class="col-md-9">


            <!-- Blog Thumb v4 -->
            <div class="margin-bottom-50">
                <h2 class="title-v4">ALL DOCTORS CAN ENJOY SOME OF OUR FREE FEATURES</h2>
                <div class="row margin-bottom-50">


                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img1.jpg" alt=""></a>
                            <h3><a href="#">Free Professional Profile</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img2.jpg" alt=""></a>
                            <h3><a href="#">Free Directory Listings</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img3.jpg" alt=""></a>
                            <h3><a href="#">Free Instant Video Chat</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img4.jpg" alt=""></a>
                            <h3><a href="#">Free Blogs and Video Blogs</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img5.jpg" alt=""></a>
                            <h3><a href="#">Free Public Website</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img6.jpg" alt=""></a>
                            <h3><a href="#">Free Classifieds</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img7.jpg" alt=""></a>
                            <h3><a href="#">Discounts and Free Products</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <a href="#"><img class="img-responsive margin-bottom-10" src="assets/img/features/img8.jpg" alt=""></a>
                            <h3><a href="#">Free Personals</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-12 col-xs-12 sm-margin-bottom-30 sm-margin-top-20">

                        <a class="r-more" href="#">And Much Much More...</a>

                    </div>


                </div><!--/end row-->
            </div>
            <!-- End Blog Thumb v4 -->


            <!-- Tab v4 -->
            <div class="tab-v4 margin-bottom-40">
                <!-- Tab Heading -->
                <div class="tab-heading">
                    <h2>Articles</h2>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="home active">
                            <a href="#tab-v4-a1" role="tab" data-toggle="tab">Latest News</a>
                        </li>
                        <li>
                            <a href="#tab-v4-a2" role="tab" data-toggle="tab">Most News</a>
                        </li>
                    </ul>
                </div>
                <!-- End Latest News -->

                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-v4-a1">
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Blog Grid -->
                                <div class="blog-grid sm-margin-bottom-40">
                                    <img class="img-responsive" src="assets/img/blog/img1.jpg" alt="">
                                    <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                    <ul class="blog-grid-info">
                                        <li>Alex Amell</li>
                                        <li>Mar 6, 2015</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                                    <a class="r-more" href="#">Read More</a>
                                </div>
                                <!-- End Blog Grid -->
                            </div>

                            <div class="col-sm-5">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img2.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img3.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img4.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img5.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img6.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->
                            </div>
                        </div><!--/end row-->
                    </div>
                    <div class="tab-pane fade" id="tab-v4-a2">
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Blog Grid -->
                                <div class="blog-grid sm-margin-bottom-40">
                                    <img class="img-responsive" src="assets/img/blog/img6.jpg" alt="">
                                    <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                    <ul class="blog-grid-info">
                                        <li>Alex Amell</li>
                                        <li>Mar 6, 2015</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                                    <a class="r-more" href="#">Read More</a>
                                </div>
                                <!-- End Blog Grid -->
                            </div>

                            <div class="col-sm-5">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img5.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img4.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img3.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img2.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img1.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->
                            </div>
                        </div><!--/end row-->
                    </div>
                    <div class="tab-pane fade" id="tab-v4-a3">
                        <div class="row">
                            <div class="col-sm-7">
                                <!-- Blog Grid -->
                                <div class="blog-grid sm-margin-bottom-40">
                                    <img class="img-responsive" src="assets/img/blog/img13.jpg" alt="">
                                    <h3><a href="#">Education news, opinion and guides</a></h3>
                                    <ul class="blog-grid-info">
                                        <li>Richard Garner</li>
                                        <li>Mar 9, 2015</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                    </ul>
                                    <p>Nulla gravida sit amet odio vel posuere. Proin maximus est diam, sed iaculis arcu ultrices sed. Quisque nisi diam, sodales sit amet diam ut, bibendum interdum metus. Pellentesque urna magna, sollicitudin vel semper quis, iaculis sed neque.</p>
                                    <a class="r-more" href="#">Read More</a>
                                </div>
                                <!-- End Blog Grid -->
                            </div>

                            <div class="col-sm-5">
                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img1.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-photo"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Learning as you're earning: The alternative to a degree</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img11.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-video-camera"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Universities found to offer ‘unlawful’ terms to students</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img2.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-photo"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">25 Unconventional Business Books that You Won't See on Most Bookshelves (But Should)</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img19.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-photo"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Learn something new every day</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->

                                <!-- Blog Thumb -->
                                <div class="blog-thumb">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/blog/img8.jpg" alt="">
                                        <a class="hover-grad" href="#"><i class="fa fa-volume-up"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="#">Student finance: Crunch the numbers cleverly</a></h3>
                                        <ul class="blog-thumb-info">
                                            <li>Mar 6, 2015</li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Thumb -->
                            </div>
                        </div><!--/end row-->
                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
            <!-- End Tab v4 -->

        </div>
        <!-- End Main Content -->

        <!-- Right Sidebar -->
        <div class="col-md-3">

            <!-- Tab v5 -->
            <div class="tab-v5 margin-bottom-50">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="home active">
                        <a href="#tab-v5-a1" role="tab" data-toggle="tab">Latest Doctors</a>
                    </li>
                    <li>
                        <a href="#tab-v5-a2" role="tab" data-toggle="tab">Most Active</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane in active" id="tab-v5-a1">
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab-v5-a2">

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- End Tab v5 -->


            <!-- Blog Thumb v2 -->
            <div class="margin-bottom-50 spinner" id="latestforums" ng-init="home.sidebar_latestforums()">
                <h2 class="title-v4">Forum</h2>

                <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                    <div class="blog-thumb-hover">
                        <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                        <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="blog-thumb-desc">
                        <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                        <ul class="blog-thumb-info">
                            <li><a href="#">{{forumpost.by}}</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- End Blog Thumb v2 -->
            <!-- Blog Carousel Heading -->
            <div class="blog-cars-heading">
                <h2>Device Friendly</h2>
                <div class="owl-navigation">
                    <div class="customNavigation">
                        <a class="owl-btn prev-v4"><i class="fa fa-angle-left"></i></a>
                        <a class="owl-btn next-v4"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div><!--/navigation-->
            </div>
            <!-- End Blog Carousel Heading -->

            <!-- Blog Carousel -->
            <div class="blog-carousel-v2 margin-bottom-50">
                <!-- Device -->
                <div class="item">
                    <div class="blog-video">
                        <img class="full-width" src="assets/img/others/Device-friendly.jpg" alt="">
                        <h4><a href="#">Lorem Ipsum is simply</a></h4>
                    </div>
                </div>
                <!-- End Device -->

                <!-- Device -->
                <div class="item">
                    <div class="blog-video">
                        <img class="full-width" src="assets/img/blog/img1.jpg" alt="">
                        <h4><a href="#">Lorem Ipsum is simply</a></h4>
                    </div>
                </div>
                <!-- End Device -->

                <!-- Device -->
                <div class="item">
                    <div class="blog-video">
                        <img class="full-width" src="assets/img/blog/img1.jpg" alt="">
                        <h4><a href="#">Lorem Ipsum is simply</a></h4>
                    </div>
                </div>
                <!-- End Device -->
            </div>
            <!-- End Blog Carousel -->
        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
<!--=== End Container Part ===-->