<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Messages</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Messages</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20 " id="inboxlist" ng-init="initinboxcontr()">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
                    <div class="no-padding display-inline-block">
                        <div class="col-xs-10 no-padding">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" placeholder="Search" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-2 no-padding">
                            <button type="button" class="btn-u btn-block btn-u-default"> <i class="fa fa-search"></i></button>
                        </div>
                    </div>



                    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- List -->
                    <li ng-repeat="thread in homethreads"
                        ng-class="{'list-group-item list-toggle unread': (thread.unread_message_count>0),
                                   ' list-group-item list-toggle ': (thread.unread_message_count==0)}">

                        <a ui-sref="inboxthread({ thread: thread.thread_id })">
                            <img class="rounded-x col-lg-4 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">

                            {{thread.chat_partner.name}} <i class="fa fa-circle font-size-10 green-color"></i>

                            <small class="pull-right">12:16 pm</small>
                            <br >
                            <span ng-show="thread.unread_message_count>0">
                                  ({{thread.unread_message_count}}) unread messages </span>
                        </a>
                    </li>

                    <!-- End List -->
                </ul>
            </div>
            <!-- End Sidebar Menu -->

            <!-- Main Content -->
            <div class="col-md-9">



                <!-- General Forms -->
                <form action="#" class="sky-form " id="thread_messages" ng-show="activethreadid">
                    <header class="col-md-12">

                        <div class="col-md-8 no-padding">
                            {{activethreadinfo.chat_partner.name}}
                        </div>

                        <div class="col-md-4 no-padding display-inline-block">
                            <div class="pull-right">
                                <h6 class="pull-right"><a href="#"><i class="fa fa-ban"></i> Block User</a></h6>
                                <h6 class="pull-right margin-right-5">
                                    <a ui-sref="profile({ profileid: activethreadinfo.chat_partner.id })"><i class="fa fa-user"></i> Check Profile</a></h6>
                            </div>
                        </div>

                    </header>

                    <fieldset>

                        <section id="messages_view" style="overflow-y: scroll; height: 350px;">

                            <div ng-repeat=" message in activethreadmessages"
                                 ng-class="{'shadow-wrapper pull-left width-100': (message.sender_id!=currentuser),
                                   'shadow-wrapper pull-right width-100': (message.sender_id==currentuser)}"
                            >
                                <blockquote
                                   ng-class="{'chat-box hero box-shadow shadow-effect-4 white-background pull-left': (message.sender_id!=currentuser),
                                   'chat-box hero box-shadow shadow-effect-4 white-background pull-right': (message.sender_id==currentuser)}"
                                  >
                                    <p ng-bind-html="cleanhtml(message.body)"> </p>
                                    <small class="font-size-10">{{message.updated_at}}</small>
                                </blockquote>
                            </div>



                        </section>

                    </fieldset>

                    <fieldset>

                        <section id="message_post_area">
                            <label class="textarea">
                                <i class="icon-prepend fa fa-comment"></i>
                                <textarea rows="3" id="message_text" placeholder="Type a message..."></textarea>
                            </label>
                        </section>

                        <section>
                            <button ng-click="postmessage(activethreadid,
                                                          angular.element('#message_text').val(),
                                                          2,$event);"
                                                            type="submit" class="btn-u">Send</button>
                        </section>

                    </fieldset>

                </form>
                <!-- End Responsive Grid System -->

                <!-- General Forms -->
                <form action="#" class="sky-form spinner" id="thread_messages" ng-show="postnewthread" >
                    <header class="col-md-12">

                        <div class="col-md-8 no-padding">
                            {{activethreadinfo.chat_partner.name}}
                        </div>

                        <div class="col-md-4 no-padding display-inline-block">
                            <div class="pull-right">
                                <h6 class="pull-right"><a href="#"><i class="fa fa-ban"></i> Block User</a></h6>
                                <h6 class="pull-right margin-right-5">
                                    <a ui-sref="profile({ profileid: activethreadinfo.chat_partner.id })"><i class="fa fa-user"></i> Check Profile</a></h6>
                            </div>
                        </div>

                    </header>

                    <fieldset>

                        <section id="messages_view" style="overflow-y: scroll; height: 350px;">

                            <div ng-repeat=" message in activethreadmessages"
                                 ng-class="{'shadow-wrapper pull-left width-100': (message.sender_id!=currentuser),
                                   'shadow-wrapper pull-right width-100': (message.sender_id==currentuser)}"
                            >
                                <blockquote
                                        ng-class="{'chat-box hero box-shadow shadow-effect-4 white-background pull-left': (message.sender_id!=currentuser),
                                   'chat-box hero box-shadow shadow-effect-4 white-background pull-right': (message.sender_id==currentuser)}"
                                >
                                    <p ng-bind-html="cleanhtml(message.body)"> </p>
                                    <small class="font-size-10">{{message.updated_at}}</small>
                                </blockquote>
                            </div>



                        </section>

                    </fieldset>

                    <fieldset>

                        <section id="message_post_area">
                            <label class="textarea">
                                <i class="icon-prepend fa fa-comment"></i>
                                <textarea rows="3" id="message_text" placeholder="Type a message..."></textarea>
                            </label>
                        </section>

                        <section>
                            <button ng-click="postthread(angular.element('#message_text').val(),recipientid,$event);"
                                    type="submit" class="btn-u">Send</button>
                        </section>

                    </fieldset>

                </form>
                <!-- End Responsive Grid System -->




            </div>
            <!-- End Main Content -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->