<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Messages</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Messages</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- List -->
                    <li class="list-group-item list-toggle active">
                        <a href="#">
                            <img class="rounded-x col-lg-3 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">
                            Alex Amell
                            <small class="pull-right">7:37 pm</small>
                        </a>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a href="#">
                            <img class="rounded-x col-lg-3 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">
                            John Joly
                            <small class="pull-right">12:16 pm</small>
                        </a>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a href="#">
                            <img class="rounded-x col-lg-3 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">
                            Sarah Mery
                            <small class="pull-right">2 day ago</small>
                        </a>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a href="#">
                            <img class="rounded-x col-lg-3 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">
                            Clinic Sabi
                            <small class="pull-right">3 day ago</small>
                        </a>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a href="#">
                            <img class="rounded-x col-lg-3 col-md-4 col-sm-1 col-xs-3" src="assets/img/team/img0.jpg" alt="">
                            Evan Maly
                            <small class="pull-right">1 week ago</small>
                        </a>
                    </li>
                    <!-- End List -->
                </ul>
            </div>
            <!-- End Sidebar Menu -->

            <!-- Main Content -->
            <div class="col-md-9">



                <!-- General Forms -->
                <form action="#" class="sky-form">
                    <header>Alex Amell</header>


                    <fieldset>

                        <section>

                            <div class="shadow-wrapper pull-left width-100">
                                <blockquote class="chat-box hero box-shadow shadow-effect-4 white-background pull-left">
                                    <p>Hiiii</p>
                                    <small class="font-size-10">8:25 am</small>
                                </blockquote>
                            </div>

                            <div class="shadow-wrapper pull-right width-100">
                                <blockquote class="chat-box hero text-right box-shadow shadow-effect-4 pull-right">
                                    <p>Hello..</p>
                                    <small class="font-size-10">9:12 am</small>
                                </blockquote>
                            </div>

                            <div class="shadow-wrapper pull-left width-100">
                                <blockquote class="chat-box hero box-shadow shadow-effect-4 white-background pull-left">
                                    <p>Hi,<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                    <small class="font-size-10">12:21 pm</small>
                                </blockquote>
                            </div>

                            <div class="shadow-wrapper pull-right width-100">
                                <blockquote class="chat-box hero text-right box-shadow shadow-effect-4 pull-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <small class="font-size-10">1:14 pm</small>
                                </blockquote>
                            </div>

                        </section>

                    </fieldset>

                    <fieldset>

                        <section>
                            <label class="textarea">
                                <i class="icon-prepend fa fa-comment"></i>
                                <textarea rows="3" placeholder="Type a message..."></textarea>
                            </label>
                        </section>

                        <section>
                            <button type="submit" class="btn-u">Send</button>
                        </section>

                    </fieldset>

                </form>
                <!-- End Responsive Grid System -->

            </div>
            <!-- End Main Content -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->