<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">My Profile - {{section}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">My Profile - {{section}}</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<!--=== Container Part ===-->
<div class="margin-top-20"  ng-init="initdashboardcontr()">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- List -->
                    <li id="productslink" class="list-group-item list-toggle" ng-class="{ active: (section=='education'|| section=='addeducation')}">
                        <a  ui-sref="manageprofile({ section:'education',page:1 })"> Education</a>
                    </li>
                    <li id="articleslink" class="list-group-item list-toggle" ng-class="{ active: (section=='experience'|| section=='addexperience')}">
                        <a ui-sref="manageprofile({ section:'experience',page:1 })" > Experience</a>
                    </li>
                    <li id="blogslink" class="list-group-item list-toggle" ng-class="{ active: (section=='courses' || section=='addcourse')}">
                        <a ui-sref="manageprofile({ section:'courses',page:1 })"> Courses  & Skills </a>
                    </li>
                    <li id="classifiedslink" class="list-group-item list-toggle" ng-class="{ active: (section=='avatar')}">
                        <a ui-sref="manageprofile({ section:'avatar',page:1 })"> Profile Avatar</a>
                    </li>

                    <!-- End List -->
                </ul>
            </div>
            <!-- End Sidebar Menu -->

            <!-- Main Content -->
            <div class="col-md-9 " id="dashboard_content">


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='experience')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> My Experiences

                            <label class="pull-right panel-title ">
                                <a ui-sref="manageprofile({ section:'addexperience' })" ><i class="fa fa-edit">Add Experience</i> </a> </label>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Experience title</th>
                                <th>sumary </th>
                                <th>from_date</th>
                                <th>To Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="experience in myexperiences" id="experience_{{experience.id}}">
                                <td>{{experience.id}}</td>
                                <td><a href="#">{{experience.title}} </a></td>
                                <td><a href="#">{{experience.sumary}} </a></td>
                                <td><a href="#">{{experience.from_date}} </a></td>
                                <td><a href="#">{{experience.to_date}} </a></td>
                                <td>
                                    <button ng-click="deleteexperience(experience.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->

                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='addexperience')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Add Experience</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form" name="editbasicinfo"  enctype="multipart/form-data">
                            <header>Add Experience</header>

                            <fieldset>
                                <section>
                                    <label class="label">Experience</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="title" name="title"  required  placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Experience  </b>
                                    </label>
                                </section>


                            </fieldset>

                            <fieldset>
                                <section>
                                    <label class="label">Summary the Experience and the skills gained  </label>
                                    <textarea id="sumary">


                                    </textarea>
                                </section>

                                <section>
                                    <label class="label">Start Date</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="from_date" name="from_date"
                                               placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Start Date</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">End Date</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="to_date" name="to_date"
                                               placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">End Date</b>
                                    </label>
                                </section>


                            </fieldset>

                            <footer>

                                <button  ng-click="addexperience(this)" class="btn-u">Save</button>
                                <button type="submit" ui-sref="manageprofile({ section:'education',page:1 })" class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms --

                        <div class="margin-bottom-60"></div>


                    </div>
                </div>
                <!--End Basic Table-->







                    </div>
                    <!-- End Main Content -->


                </div>


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='courses')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> My Courses

                            <label class="pull-right panel-title ">
                                <a ui-sref="manageprofile({ section:'addcourse' })" ><i class="fa fa-edit">Add course</i> </a> </label>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Course Title</th>
                                <th>Course Summary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="course in mycourses" id="course_{{course.id}}">
                                <td>{{course.id}}</td>
                                <td><a href="#">{{course.title}} </a></td>
                                <td><a href="#">{{course.sumary}} </a></td>
                                <td>
                                    <button ng-click="deletecourse(course.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->

                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='addcourse')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Add Course</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form" name="editbasicinfo"  enctype="multipart/form-data">
                            <header>Add Course</header>

                            <fieldset>
                                <section>
                                    <label class="label">Course</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="coursetitle" name="coursetitle"  required  placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Course  </b>
                                    </label>
                                </section>


                            </fieldset>

                            <fieldset>
                                <section>
                                    <label class="label">Summary the Experience and the skills gained  </label>
                                    <textarea id="coursesumary">
                                    </textarea>
                                </section>



                            </fieldset>

                            <footer>

                                <button  ng-click="addcourse(this)" class="btn-u">Save</button>
                                <button type="submit" ui-sref="manageprofile({ section:'courses',page:1 })" class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms --

                        <div class="margin-bottom-60"></div>


                    </div>
                </div>
                <!--End Basic Table-->







                    </div>
                    <!-- End Main Content -->


                </div>


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='education')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> My Educations

                            <label class="pull-right panel-title ">
                                <a ui-sref="manageprofile({ section:'addeducation' })" ><i class="fa fa-edit">Add Education</i> </a> </label>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Speciality</th>
                                <th>Education level</th>
                                <th>Institute  name</th>
                                <th>Graduation date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="education in myeducations" id="education_{{education.id}}">
                                <td>{{education.id}}</td>
                                <td><a href="#">{{education.title}} </a></td>
                                <td><a href="#">{{education.education_level}} </a></td>
                                <td><a href="#">{{education.institute_name}} </a></td>
                                <td><a href="#">{{education.graduation_date}} </a></td>
                                <td>
                                    <button ng-click="deleteeducation(education.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->

                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='addeducation')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Add Education</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form" name="editbasicinfo"  enctype="multipart/form-data">
                            <header>Add Education</header>

                            <fieldset>
                                <section>
                                    <label class="label">Education</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="speciality" name="speciality"  required  placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Speciality title</b>
                                    </label>
                                </section>


                            </fieldset>

                            <fieldset>
                                <section>
                                    <label class="label">Education Level</label>
                                    <label class="select">
                                        <select id="education_level" name="education_level"   required>
                                            <option value="School">School</option>
                                            <option value="Bachelor" >Bachelor</option>
                                            <option value="Master" >Master</option>
                                            <option value="PhD">PhD</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Institute Name</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="institute_name" name="institute_name"
                                               placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Institute Name</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Graduation Date</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="graduation_date" name="graduation_date"
                                               placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Graduation Date</b>
                                    </label>
                                </section>


                            </fieldset>

                            <footer>

                                <button  ng-click="addeducation(this)" class="btn-u">Save</button>
                                <button type="submit" ui-sref="manageprofile({ section:'education',page:1 })" class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms --

                        <div class="margin-bottom-60"></div>


                    </div>
                </div>
                <!--End Basic Table-->







            </div>
            <!-- End Main Content -->


        </div>

                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='avatar')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> My Profile Image

                            <label class="pull-right panel-title ">
                                <a ui-sref="manageprofile({ section:'updateavatar' })" ><i class="fa fa-edit">Change Profile Image </i> </a> </label>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">

                            <tbody>
                            <tr >
                                <td>
                                    <div class="blog-grid margin-bottom-50" >
                                    <img class="img-responsive"  ng-src="{{myavatar.picture_url}}" alt="">



                                </div></td>


                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->

                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='addavatar')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Update Profile Image</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form" name="editbasicinfo"  enctype="multipart/form-data">
                            <header>Choose Image</header>

                            <fieldset>

                                <section>
                                    <label class="label">image</label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" file-model="avatarimage"
                                                   onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                                        <input type="text" readonly>
                                    </label>
                                </section>


                            </fieldset>


                            <footer>

                                <button  ng-click="upateavatar(this)" class="btn-u">Save</button>
                                <button type="submit" ui-sref="manageprofile({ section:'avatar'})" class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms --

                        <div class="margin-bottom-60"></div>


                    </div>
                </div>
                <!--End Basic Table-->







                    </div>
                    <!-- End Main Content -->


                </div>







            </div>
</div>
<!--=== End Container Part ===-->