



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12">
                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-30 align-center">
                    <h2 class="blog-grid-title-lg">Mission and Vission </h2>
                    <div class="overflow-h margin-bottom-10">


                    </div>

                </div>

                <p><b>ForAllDoctors.com</b> welcomes you to the largest, secure, HIPAA compliant, Free, Professional And Social Networking Website Of Its Kind - exclusive to medical, legal and Ph.D. professionals worldwide.  </p>

               <p>

                   Most effective efforts are made for verification of all members, before permitted access to <b>ForAllDoctors.com</b> (E.g. NPI, Professional license number, Certificates, etc...).
               </p>

                <p>
                    For AllDoctors.com – the largest philanthropic entity in the world; not in the financial sense, but where the largest accumulation of like minded intellectuals can contribute to advancement in such areas as, medicine, law, science, economy, technology, veterinary and much more. ForAllDoctors.com has been consciously equipped with the tools and environment to freely and naturally, promote the cultivation of such advancement. To this end, ForAllDoctors.com’s member search feature enables its members to find other professionals using precision, micro targeted searches; focusing from the specific profession to geo-location or exact office address.
                </p>

                <p>
                    <b> ForAllDoctors.com </b> not only provides its members privacy and confidentiality, but also allows its members the flexibility to choose the arena of participation they are most interested in at any time. That is, a member can select whether she/he is interested to enter a sphere where communication is between all members of the site, OR, where communications is restricted to members of his/her profession only. For instance, an attorney would not be able to view the private forum discussions of a physician, unless the physician chooses to participate in the forums designed specifically for “all access” communications (and of course visa versa).
                </p>

                <p>
                    Members are provided the flexibility to be known or anonymous in different platforms of the site (but rest assured that all members, whether known or anonymous, are all verified doctors, lawyers or PhDs).
                </p>

                <p>
                    There are over three hundred modules and utilities in the site that cannot all be discussed at this time.
                </p>

                <p>
                    <b>ForAllDoctors.com</b> is a revolutionary and visionary entity. We are taking horse and buggy epoch into Mars landing in the speed of electrons. World health, world economics, investment, ethics, education, pathology and more, can all be discussed most intelligently worldwide, in ForAllDoctors.com - <b>THE LARGEST VIRTUAL CONVENTION IN THE WORLD.</b>
                </p>

                <p>
                    <b>ForAllDoctors.com </b>is confident that you will find it a pleasure to join, not just for its recognition and the betterment of global causes, but also as a unique portal to some of the most educated and well thought answers to questions that you may have in life
                </p>


            </div>
            <!-- End Main Content -->


        </div>
    </div>
    <!--=== End Container Part ===-->


