<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40 spinner" ng-init="initmyprofilecontr()">
        <div class="row">

            <!-- Right Sidebar -->
            <div class="col-md-3">


                <div class="blog-thumb blog-thumb-circle margin-bottom-30">

                    <div class="col-md-12">


                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                            <a href="#"><img class="rounded-x img-responsive col-md-8 col-sm-8 col-xs-8" src="assets/img/team/img0.jpg" alt=""></a>
                            <a ui-sref="settings">
                                <i class="fa fa-pencil fa-fw fa-2x" aria-hidden="true"></i>

                            </a>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="align-center">{{username}}</h3>
                            <h5 class="align-center">{{currentUser.currentposition}}</h5>
                        </div>
                    </div>
                    <div>
                        <ul class="blog-social-shares">
                            <li>
                                <i class="rounded-x green fa fa-heart"></i>
                                <a class="rounded-3x" ui-sref="dashboardsection({ section:'blogs',page:1 })">Blogs</a>
                                <span class="counter">{{myprofileinfo.blogs}}</span>
                            </li>
                            <li>
                                <i class="rounded-x green fa fa-paper-plane"></i>
                                <a class="rounded-3x" ui-sref="dashboardsection({ section:'articles',page:1 })">Articles</a>
                                <span class="counter">{{myprofileinfo.articles}}</span>
                            </li>
                            <li>
                                <i class="rounded-x green fa fa-comment"></i>
                                <a class="rounded-3x" ui-sref="dashboardsection({ section:'classifieds',page:1 })">Classifieds</a>
                                <span class="counter">{{myprofileinfo.classifieds}}</span>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="myconnections" ng-init="" >
                    <h2 class="title-v4">My Connections</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">By {{sideclassified.owner_name}}</a></li>
                            </ul>
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="latestclassifieds" ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">By {{sideclassified.owner_name}}</a></li>
                            </ul>
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner" id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a href="#">Name</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li><a href="#">{{sideblog.by}}</a></li>
                            </ul>
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner" id="latestforums" ng-init="sidebar_latestforums()">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" ui-sref="topicdetails({ topicid:forumpost.topic_id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a href="#">{{forumpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 spinner_sidebar" id="latestproducts" ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>



                    </div>
                </div>
                <!-- End Blog Thumb v2 -->

            </div>
            <!-- End Right Sidebar -->



            <!-- Main Content -->
            <div class="col-md-9">


                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50">
                    <img class="img-responsive" src="assets/img/blog/img6.jpg" alt="">
                    <div class="blog-grid-inner">
                        <h3><a href="blog_single.html">Lorem ipsum dolor sit amet consecte adipiscing elit</a></h3>
                        <ul class="blog-grid-info">
                            <li>Alex Amell</li>
                            <li>Mar 6, 2015</li>
                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                        <a class="r-more" href="blog_single.html">Read More</a>
                    </div>
                </div>
                <!-- End Blog Grid -->

                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50">
                    <img class="img-responsive" src="assets/img/blog/img6.jpg" alt="">
                    <div class="blog-grid-inner">
                        <h3><a href="blog_single.html">Lorem ipsum dolor sit amet consecte adipiscing elit</a></h3>
                        <ul class="blog-grid-info">
                            <li>Alex Amell</li>
                            <li>Mar 6, 2015</li>
                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                        <a class="r-more" href="blog_single.html">Read More</a>
                    </div>
                </div>
                <!-- End Blog Grid -->

                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50">
                    <img class="img-responsive" src="assets/img/blog/img6.jpg" alt="">
                    <div class="blog-grid-inner">
                        <h3><a href="blog_single.html">Lorem ipsum dolor sit amet consecte adipiscing elit</a></h3>
                        <ul class="blog-grid-info">
                            <li>Alex Amell</li>
                            <li>Mar 6, 2015</li>
                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                        <a class="r-more" href="blog_single.html">Read More</a>
                    </div>
                </div>
                <!-- End Blog Grid -->

                <!-- Pager v4 -->
                <ul class="pager pager-v4">
                    <li class="previous"><a class="rounded-3x" href="#">&larr; Older</a></li>
                    <li class="page-amount">1 of 7</li>
                    <li class="next"><a class="rounded-3x" href="#">Newer &rarr;</a></li>
                </ul>
                <!-- End Pager v4 -->


            </div>
            <!-- End Main Content -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->