<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Product Details</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Store</a></li>
            <li class="active">Product Details</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div id="containerpart" class="container margin-bottom-40 " ng-init="initproductcontr()" >
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">

                <div class="blog-grid">
                    <h3>{{mainproduct.title}} </h3>



                    <div class="col-md-8 no-padding">
                        <ul class="blog-grid-info">
                            <li><i class="fa fa-calendar"></i> {{mainproduct.updated_at}}</li>
                            <li><i class="fa fa-user"></i> Added by:  {{mainproduct.owner_name}}</li>
                        </ul>

                    </div>
                    <div class="col-md-4 no-padding">
                        <ul class="blog-social-shares blog-grid-info pull-right">
                            <li>
                                <a class="rounded-3x"ng-if="(mainproduct.meowner!=1)" ui-sref="newthread({section:'newthread', thread: mainproduct.owner_id })" ><i class="rounded-x green fa fa-comment"></i></a>
                                <a ng-if="(mainproduct.meowner==1)"   class="rounded-3x" ui-sref="dashboardsection({ section:'editproduct',page:mainproduct.id})"><i class="rounded-x green fa fa-edit"></i></a>
                                <a class="rounded-3x" ui-sref="dashboardsection({ section:'addproduct'})"><i class="rounded-x green fa fa-plus-circle"></i></a>
                            </li>
                        </ul>
                    </div>





                    <img class="img-responsive" ng-show="(mainproduct.photo_link!='')"
                         ng-src="{{mainproduct.photo_link}}" alt="">
                    <img class="img-responsive" ng-show="(mainproduct.photo_link=='')"
                         ng-src="assets/img/thumb/store.jpg" alt="">

                    <h> Details</h>
                    <p ng-bind-html="trusthtml(mainproduct.content)" ></p>


                    <!-- Bootstrap Modals With Forms -->
                    <div class="margin-bottom-40">



                        <ul class="blog-social-shares blog-grid-info pull-right">
                            <li>
                                <a class="rounded-3x"ng-if="(mainproduct.meowner!=1)" ui-sref="newthread({section:'newthread', thread: mainproduct.owner_id })" ><i class="rounded-x green fa fa-comment"></i></a>
                                <a ng-if="(mainproduct.meowner==1)"   class="rounded-3x" ui-sref="dashboardsection({ section:'editproduct',page:mainproduct.id})"><i class="rounded-x green fa fa-edit"></i></a>
                                <a class="rounded-3x" ui-sref="dashboardsection({ section:'addproduct'})"><i class="rounded-x green fa fa-plus-circle"></i></a>
                            </li>
                        </ul>








                    </div>
                    <!-- End Bootstrap Modals With Forms -->


                </div>



            </div>
            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">


                <div class="blog-thumb blog-thumb-circle margin-bottom-30">

                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">

                            <a ui-sref="profile({ profileid:mainproduct.owner_id})">

                                <img class="rounded-x img-responsive col-md-6 col-md-offset-3" ng-show="(mainproduct.picture_url!='')"
                                     ng-src="{{mainproduct.picture_url}}" alt="">
                                <img class="rounded-x img-responsive col-md-6 col-md-offset-3" ng-show="(mainproduct.picture_url=='')"
                                     ng-src="assets/img/team/img0.jpg" alt="">
                            </a>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="align-center"> {{mainproduct.owner_name}} </h3>
                            <h5 class="align-center">{{mainproduct.proffesion}}</h5>
                        </div>
                    </div>

                </div>


                <!-- Blog Thumb v2 -->
                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts" ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Related Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- End Blog Thumb v2 -->






                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestforums" ng-init="sidebar_latestforums()">
                    <h2 class="title-v4">Forum</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad" href="#"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestposts==0">

                        <div class="blog-thumb-desc">
                            <h3>No ForumPosts</h3>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->


            </div>
            <!-- End Right Sidebar -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->

 