<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Professionals</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Professionals</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div id="containerpart" class="margin-top-20 " ng-init="initprofessionalscontr()">
    <div class="container margin-bottom-40">

        <!-- Main Content -->
        <div class="col-md-12">


            <div class="col-md-12" ng-if="(professionalsError!='')">

                <div class="row margin-bottom-20 align-center">

                    <h3> <i class="fa fa-warning ">{{professionalsError}}</i></h3>

                </div>

            </div>


            <!-- Search block -->
            <div class="row margin-bottom-20" ng-if="(professionalsError=='')" >
                <form  class="sky-form">
                    <fieldset>
                        <section class="col-md-5">
                            <label class="input">
                                <i class="icon-prepend fa fa-user"></i>
                                <input type="text" id="searchterm" placeholder="Search People">
                            </label>
                        </section>
                        <section class="col-md-3">
                            <label class="select">
                                        <select id="speciality" name="speciality"   required>
                                            <option  value ="">   Speciality </option>
                                            <option  value ="2">  Attorney </option>
                                            <option  value ="3">  Chiropractor </option>
                                            <option  value ="4">  Dentist</option>
                                            <option  value ="5">  Optometrist</option>
                                            <option  value ="6">  Osteopathist</option>
                                            <option  value ="7">  Phd </option>
                                            <option  value ="8">  Pharmacist</option>
                                            <option  value ="9">  Physician </option>
                                            <option  value ="10"> Podiatrist </option>
                                            <option  value ="11"> Poi </option>
                                            <option  value ="12"> Veterinarian</option>
                                        </select>
                                        <i></i>
                            </label>
                        </section>
                        <section class="col-md-3">
                            <div class="inline-group">
                                <label class="radio"><input type="radio" name="gender" id="professional_sex_male" ><i class="rounded-x"></i>Male</label>
                                <label class="radio"><input type="radio" name="gender" id="professional_sex_female"><i class="rounded-x"></i>Female</label>
                            </div>
                        </section>
                        <section class="col-md-1">
                            <button ng-click="searchmembers(1)"  class="btn-u btn-u-default pull-right sm-margin-bottom-20"><i class="fa fa-search"></i> Search</button>
                        </section>
                        <!-- Google Map -->
                        <div class="col-md-12 map map-box map-box-space">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26372843.225102425!2d-113.74614997781748!3d36.20690055516594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sjo!4v1493241042802" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- End Google Map -->
                    </fieldset>
                </form>
            </div>

            <!-- Main Content -->


            <!-- Personal Grid -->
            <div class="col-md-12" ng-if="(homememebrs=='' )">

                <div class="row margin-bottom-20 align-center">

                    <h3> <i class="fa fa-warning "> No Professionals </i></h3>

                </div>

            </div>


            <div class="row margin-bottom-50" >
                <!-- New Personal Block -->
                <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-50 box-shadow" ng-repeat="profile in homememebrs">
                    <div class="blog-grid">
                        <div class="col-md-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                                <a ui-sref="profile({ profileid: profile.proffessional_id })"><img class="rounded-x img-responsive col-md-12 col-sm-12 col-xs-12 profile-pic-sm" src="assets/img/team/img0.jpg" alt=""></a>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="align-center"><a ui-sref="profile({ profileid: profile.proffessional_id })">
                                    {{profile.name}}</a>
                                </h3>
                                <h5 class="align-center">{{profile.proffession}}</h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="blog-social-shares margin-top-20">
                                <li>
                                    <a class="rounded-3x" href="#">About</a>
                                    <p>{{profile.aboutme}}.</p>
                                </li>
                                <li>
                                    <i class="rounded-x green fa fa-users"></i>
                                    <a class="rounded-3x">Blogs</a>
                                    <span class="counter">{{profile.blogs_total}}</span>
                                </li>
                                <li>
                                    <i class="rounded-x green fa fa-file-text"></i>
                                    <a class="rounded-3x">Articles</a>
                                    <span class="counter">{{profile.articles_total}}</span>
                                </li>
                            </ul>
                        </div>
                        <button ui-sref="profile({ profileid: profile.proffessional_id })" type="submit" class="btn btn-default btn-u-md btn-block margin-bottom-20">View Profile <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
                <!-- End New Personal Block -->
            </div><!--/end row-->
            <!-- End Personal Grid -->
            <!-- Pager v4 -->
            <div class="col-md-8 pager pager-v4" ng-show="pagination.total_pages>1">
                <div class="text-right">
                    <ul class="pagination">
                        <li class="previous" ng-show="pagination.current_page>2">
                            <a   ui-sref="professionals({ page:pagination.current_page-2})">&larr; Older</a></li>
                        <li class="page-amount" ng-show="pagination.links.previous">
                            <a ui-sref="professionals({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                        <li class="active"><a ui-sref="professionals({ page:pagination.current_page})">
                            {{pagination.current_page}}
                        </a></li>
                        <li  class="page-amount" ng-show="pagination.links.next">
                            <a ui-sref="professionals({ page:nextpageparm})">{{nextpageparm}}
                            </a></li>

                        <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                            <a ui-sref="professionals({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                            </a></li>
                        <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                            <a ui-sref="professionals({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                            </a></li>
                        <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                            <a ui-sref="professionals({ page:pagination.current_page+3})">Newer &rarr;</a>
                        </li>
                        <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                            <a   ui-sref="professionals({ page:pagination.current_page+4})">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Pager v4 -->
        </div>
        <!-- End Main Content -->



    </div>
</div>
<!--=== End Container Part ===-->
