<!--=== Container Part ===-->
<div class="margin-top-20">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Right Sidebar -->
            <div class="col-md-3">


                <div class="blog-thumb blog-thumb-circle margin-bottom-30">

                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                            <img class="rounded-x img-responsive col-md-12 col-sm-12 col-xs-12" src="assets/img/team/img0.jpg" alt="">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="align-center">Alex Amell</h3>
                            <h5 class="align-center">Ear, Nose and Tgroat</h5>
                        </div>
                    </div>
                    <div>
                        <ul class="blog-social-shares">
                            <li>
                                <i class="rounded-x green fa fa-file-text"></i>
                                <a class="rounded-3x" href="#">Articles</a>
                                <span class="counter">318</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6 class="align-left">About</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <button type="submit" class="btn btn-u btn-u-md btn-block margin-bottom-20">Connect</button>

                </div>




            </div>
            <!-- End Right Sidebar -->

            <!-- Main info -->
            <div class="col-md-4">



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4">Education</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>University Name</li>
                            </ul>
                            <h3>Graduated</h3>
                        </div>
                    </div>

                    <hr>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>High School Name</li>
                            </ul>
                            <h3>Graduated</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4">Experience</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Hospital Name</li>
                            </ul>
                            <h3>Position</h3>
                            <h6>Department Name</h6>
                            <small>Feb 2011 – Present / 6 yrs 3 mos</small>
                        </div>
                    </div>

                    <hr>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>Hospital Name</li>
                            </ul>
                            <h3>Position</h3>
                            <h6>Department Name</h6>
                            <small>Jun 2006 – Jun 2006 / 1 month</small>
                        </div>
                    </div>


                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4">Professional Skills</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


            </div>
            <!-- End info Content -->


            <!-- Main Content -->
            <div class="col-md-5">

                <h2 class="title-v4">Latest Article</h2>

                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50">
                    <img class="img-responsive" src="assets/img/blog/img6.jpg" alt="">
                    <div class="blog-grid-inner">
                        <h3><a href="blog_single.html">Lorem ipsum dolor sit amet consecte adipiscing elit</a></h3>
                        <ul class="blog-grid-info">
                            <li>Alex Amell</li>
                            <li>Mar 6, 2015</li>
                            <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet sed eros sed tincidunt. Sed eu mauris iaculis, faucibus nisi a, ultrices ipsum. Donec auctor metus eget diam fermentum, et viverra erat semper.</p>
                        <a class="r-more" href="blog_single.html">Read More</a>
                    </div>
                </div>
                <!-- End Blog Grid -->

                <button type="submit" class="btn btn-default btn-u-md btn-block margin-bottom-20">All Articles</button>


            </div>
            <!-- End Main Content -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->