<!--=== Container Part ===-->
<div class="margin-top-20" id="containerpart" ng-init="initprofilecontr()">
    <div class="container margin-bottom-40">
        <div class="row">

            <!-- Main info -->
            <div class="col-md-4">
                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" >
                    <h2 class="title-v4">Education</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="education in memberprofile.education">
                        <div class="blog-thumb-desc">
                            <h3>{{education.education_level}} : {{education.institute_name}}  </h3>
                            <ul class="blog-thumb-info">
                                <li>  Graduated : {{education.graduation_date}}</li>
                            </ul>

                        </div>
                    </div>

                    <hr>


                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4">Experience</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="experience in memberprofile.experience" >
                        <div class="blog-thumb-desc">
                            <ul class="blog-thumb-info">
                                <li>{{experience.title}}</li>
                            </ul>
                            <h3>Position</h3>
                            <h6>{{experience.summary}}</h6>
                            <small>{{experience.start_date}} – {{experience.end_date}}</small>
                        </div>
                    </div>

                    <hr>



                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <h2 class="title-v4">Professional Skills</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-desc">
                            <p ng-repeat="course in memberprofile.courses">
                                {{course.title}} {{course.sumary}}
                            </p>

                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


            </div>
            <!-- End info Content -->

            <!-- Main Content -->
            <div class="col-md-5">

                <h2 class="title-v4">Latest Article</h2>

                <!-- Blog Grid -->
                <div class="blog-grid margin-bottom-50" ng-repeat="article in memberprofile.articles">
                    <img class="img-responsive"  ng-src="{{article.photo_link}}" alt="">


                    <div class="blog-grid-inner">
                        <h3><a  ui-sref="articledetails({ articleid: article.id })" >{{article.title}}</a></h3>
                        <ul class="blog-grid-info">
                            <li>{{article.date_formated}}</li>
                        </ul>
                        <p ng-bind-html="trusthtml(article.content)" >.</p>
                        <a class="r-more" ui-sref="articledetails({ articleid: article.id })">Read More</a>
                    </div>
                </div>
                <!-- End Blog Grid -->




            </div>
            <!-- End Main Content -->


            <!-- Right Sidebar -->
            <div class="col-md-3">
                <div class="blog-thumb blog-thumb-circle margin-bottom-30">

                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20">
                            <img class="rounded-x img-responsive col-md-12 col-sm-12 col-xs-12"   src="{{memberprofile.picture_url}}" alt="">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="align-center">{{memberprofile.name}}</h3>
                            <h5 class="align-center">{{memberprofile.position}}</h5>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h6 class="align-left">About</h6>
                        <p>{{memberprofile.aboutme}}</p>
                    </div>
                    <button type="submit" ng-if="(memberprofile.proffessional_id!=currentUser.proffessional_id)" ui-sref="newthread({section:'newthread', thread: memberprofile.proffessional_id })"
                            class="btn-u btn-u-md btn-block margin-bottom-20">Send a Message</button>
                    <button type="submit" ng-if="(memberprofile.proffessional_id==currentUser.proffessional_id)" ui-sref="manageprofile" class="btn-u btn-u-md btn-block margin-bottom-20">Edit</button>

                </div>
            </div>
            <!-- End Right Sidebar -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->