<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Question Details</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a ui-sref="questions">Questions</a></li>
            <li class="active">Question Details</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Container Part ===-->
<div class="margin-top-20">
    <div id="containerpart" class="container margin-bottom-40 " ng-init="initquestionscontr()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50">
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="col-md-2 col-sm-2 col-xs-4 margin-bottom-15">
                            <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt="">
                        </div>



                        <div class="blog-grid col-md-12 col-sm-12 col-xs-12">
                            <h3>{{question.title}}</h3>

                            <ul class="blog-grid-info">

                                <li><i class="fa fa-calendar"></i> {{question.date_formated}}</li>

                                <li>
                                    <a class="rounded-3x"ng-if="(question.user_id!=currentUser.proffessional_id)"
                                       ui-sref="newthread({section:'newthread', thread: question.user_id })" ><i class="rounded-x green fa fa-comment"></i></a>


                                </li>
                            </ul>

                            <p ng-bind-html="trusthtml(question.content)" >.</p>
                            <ul class="blog-grid-info">
                                <a class="r-more" ui-sref="newthread({section:'newthread', thread: question.user_id })">Send A Message</a>
                            </ul>

             </div>
                    </div>
                </div>
                <!-- End Blog Thumb v2 -->
            </div>

            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestclassifieds"  ng-init="sidebar_latestclassifieds()" >
                    <h2 class="title-v4">Latest Classifieds</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sideclassified in sidebarlatestclassifieds">
                        <div class="col-md-4 col-sm-2 col-xs-4">
                            <a ui-sref="classifieddetails({classifiedID: sideclassified.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="classifieddetails({classifiedID: sideclassified.id})">{{sideclassified.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li ng-show="(sideclassified.hide_owner==0)"><a ui-sref="profile({ profileid:sideclassified.owner_id})" >By {{sideclassified.owner_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestclassifieds==0">

                        <div class="blog-thumb-desc">
                            <h3>No Calssifieds</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Latest Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sidearticle.author_id})">{{sidearticle.author_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                        <div class="blog-thumb-desc">
                            <h3>No Articles</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->


                <!-- Blog Thumb v2 -->

               <div class="margin-bottom-50 " id="latestforums" ng-init="sidebar_latestforums()">
                        <h2 class="title-v4">Forum</h2>

                        <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="forumpost in sidebarlatestposts">

                            <div class="blog-thumb-hover">
                                <img class="rounded-x" src="assets/img/team/img1.jpg" alt="">
                                <a class="hover-grad" ui-sref="topicdetails({ topicid:forumpost.topic_id})">
                                    <i class="fa fa-link"></i></a>
                            </div>
                            <div class="blog-thumb-desc">
                                <h3><a ui-sref="topicdetails({ topicid:forumpost.topic_id})">{{forumpost.title}}</a></h3>
                                <ul class="blog-thumb-info">
                                    <li><a ui-sref="profile({ profileid:forumpost.poster_id})">{{forumpost.by}}</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>


                <!-- End Blog Thumb v2 -->

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts"    ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            <!-- End Right Sidebar -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->