<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Questions</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Questions</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Container Part ===-->
<div id="containerpart" class="margin-top-20 " ng-init="initquestionscontr()">
    <div class="container margin-bottom-40">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9" id="left_section">
                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" ng-repeat="question in questions">
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="col-md-2 col-sm-2 col-xs-4">
                            <a ui-sref="questiondetails({id: question.id})">
                                <img class="rounded-x img-responsive" src="assets/img/thumb/classifieds.jpg" alt=""></a>
                        </div>
                        <div class="blog-grid col-md-10 col-sm-10 col-xs-8">
                            <h3><a ui-sref="questiondetails({id: question.id})">{{question.title}}</a></h3>

                            <p ng-bind-html="trusthtml(question.short_content)"></p>
                            <a class="r-more" ui-sref="questiondetails({id: question.id})">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Blog Thumb v2 -->
                <div class="margin-bottom-50" ng-show="pagination.count==0">
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-grid col-md-10 col-sm-10 col-xs-8">
                            <h3> No Question</h3>


                        </div>
                    </div>
                </div>



                <div class="col-md-8 pager pager-v4" ng-show="pagination.total_pages>1">
                    <div class="text-right">
                        <ul class="pagination">
                            <li class="previous" ng-show="pagination.current_page>2">
                                <a   ui-sref="questions({ page:pagination.current_page-2})">&larr; Older</a></li>
                            <li class="page-amount" ng-show="pagination.links.previous">
                                <a ui-sref="questions({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                            <li class="active"><a ui-sref="questions({ page:pagination.current_page})">
                                {{pagination.current_page}}
                            </a></li>
                            <li  class="page-amount" ng-show="pagination.links.next">
                                <a ui-sref="questions({ page:nextpageparm})">{{nextpageparm}}
                                </a></li>

                            <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                                <a ui-sref="questions({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                                </a></li>
                            <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                                <a ui-sref="questions({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                                </a></li>
                            <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                                <a ui-sref="questions({ page:pagination.current_page+3})">Newer &rarr;</a>
                            </li>
                            <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                                <a   ui-sref="questions({ page:pagination.current_page+4})">Newer &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>

            <!-- End Main Content -->

            <!-- Right Sidebar -->
            <div class="col-md-3">

                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestarticles" ng-init="sidebar_latestarticles()">
                    <h2 class="title-v4">Latest Articles</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15" ng-repeat="sidearticle in sidebarlatestarticles">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link!='')"
                                 ng-src="{{sidearticle.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sidearticle.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="articledetails({ articleid:sidearticle.id})">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="articledetails({ articleid:sidearticle.id})">{{sidearticle.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sidearticle.author_id})">
                                    {{sidearticle.author_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestarticles==0">

                        <div class="blog-thumb-desc">
                            <h3>No Articles</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50" id="latestblogs" ng-init="sidebar_latestblogs()" >
                    <h2 class="title-v4">Latest Blogs</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"
                         ng-repeat="sideblog in sidebarlatestblogs">

                        <div class="blog-thumb-hover">
                            <img class="rounded-x" ng-show="(sideblog.photo_link!='')"
                                 ng-src="{{sideblog.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideblog.photo_link=='')"
                                 ng-src="assets/img/team/img1.jpg" alt="">
                            <a class="hover-grad"  ui-sref="blogpostdetails({ blogid:sideblog.id})">
                                <i class="fa fa-link"></i></a>
                        </div>

                        <div class="blog-thumb-desc">
                            <h3><a ui-sref="blogpostdetails({ blogid:sideblog.id})">{{sideblog.title}}</a></h3>
                            <ul class="blog-thumb-info">
                                <li><a ui-sref="profile({ profileid:sideblog.author_id})">{{sideblog.by}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestblogs==0">

                        <div class="blog-thumb-desc">
                            <h3>No Blogs</h3>
                        </div>
                    </div>

                </div>
                <!-- End Blog Thumb v2 -->



                <!-- Blog Thumb v2 -->
                <div class="margin-bottom-50 " id="latestproducts" ng-if="isAuthenticated()"  ng-init="sidebar_latestproducts()" >
                    <h2 class="title-v4">Products</h2>

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">

                        <div class="blog-thumb-hover" ng-repeat="sideproduct in sidebarlatestproducts">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link!='')"
                                 ng-src="{{sideproduct.photo_link}}" alt="">
                            <img class="rounded-x" ng-show="(sideproduct.photo_link=='')"
                                 ng-src="assets/img/thumb/store.jpg" alt="">
                            <a class="hover-grad"  ui-sref="productdetails({ productid: sideproduct.id })">
                                <i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb blog-thumb-circle margin-bottom-15"  ng-show="sidebarlatestproducts==0">

                            <div class="blog-thumb-desc">
                                <h3>No Products</h3>
                            </div>
                        </div>



                    </div>
                </div>


                <!-- End Blog Thumb v2 -->

            </div>
            <!-- End Right Sidebar -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->
