<div id="cd-signup"> <!-- sign up form -->
    <form class="cd-form">

        <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Name</label>
            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Name">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Username</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Username">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Confirm E-mail</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Confirm E-mail">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
            <a href="javascript:void(0);" class="hide-password">Hide</a>
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Confirm Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Confirm Password">
            <a href="javascript:void(0);" class="hide-password">Hide</a>
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <input type="checkbox" id="accept-terms">
            <label for="accept-terms">I agree to the <a href="javascript:void(0);">Terms</a></label>
        </p>

        <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Create account">
        </p>
    </form>

    <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
</div> <!-- cd-signup -->