<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Reset Password</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Reset Password</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div class="margin-top-20">
    <div  id="containerpart" class="container margin-bottom-40" ng-init="initresetCont()">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">


                <div  > <!-- sign up form -->
                    <form class="cd-form">


                        <p class="fieldset">
                            <label class="image-replace cd-email" for="reset_email">E-mail</label>
                            <input class="full-width has-padding has-border" id="reset_email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>


                        <p class="fieldset">
                            <label class="image-replace cd-password" for="reset_password">Password</label>
                            <input class="full-width has-padding has-border" id="reset_password" type="text"  placeholder="Password">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="reset_confirm_password">Confirm Password</label>
                            <input class="full-width has-padding has-border" id="reset_confirm_password" type="text"  placeholder="Confirm Password">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input class="full-width has-padding" ng-click="resetuserpassword()" type="submit" value="Reset Password">
                        </p>
                    </form>


                </div>


            </div>
            <!-- End Main Content -->



        </div>
    </div>
</div>
<!--=== End Container Part ===-->

