<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">My Settings - {{section}}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">My Settings - {{section}}</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->




<!--=== Container Part ===-->
<div class="margin-top-20"  >
    <div class="container margin-bottom-40">
        <div class="row" id="dashboard_content">


            <!-- Main Content -->
            <div class="col-md-9 " >


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='basicinfo')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Basic Information</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form action="#" class="sky-form" name="basicinfo">
                            <header>Basic Information</header>

                            <fieldset>
                                <section>
                                    <label class="label">Name: <b>{{mybasicinfo.name}} </b></label>
                                    <label class="label">Current position : <b>{{mybasicinfo.currentposition}} </b></label>
                                    <label class="label">phone : <b>{{mybasicinfo.phone}} </b></label>
                                    <label class="label">email : <b>{{mybasicinfo.email}} </b></label>
                                </section>

                                <section>
                                    <label class="label">About Me:</label>
                                    <label class="label">{{mybasicinfo.aboutme}} </label>

                                </section>
                                <section>
                                    <label class="label">Description</label>
                                    <label class="label">{{mybasicinfo.description}} </label>
                                </section>
                                </fieldset>

                                <fieldset>


                                    <section>
                                        <label class="label">Country:<b>{{mybasicinfo.country}}</b></label>
                                        <label class="label color">State:<b>{{mybasicinfo.state}}</b></label>
                                        <label class="label color">Address:<b>{{mybasicinfo.address}}</b></label>

                                </section>

                             </fieldset>

                            <footer>
                                <button type="submit" ui-sref="settingssection({ section:'editbasicinfo'})"
                                          class="btn-u">Edit</button>


                            </footer>
                        </form>
                        <!-- General Forms -->

                        <div class="margin-bottom-60"></div>





                    </div>
                </div>
                <!--End Basic Table-->

                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='editbasicinfo')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Edit Basic Information</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form" name="editbasicinfo">

                            <fieldset>
                                <section>
                                    <label class="label">Name</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="name" name="name" ng-model="name" required
                                               placeholder="Focus to view the tooltip" value="{{mybasicinfo.name}}">
                                        <b class="tooltip tooltip-top-left">Your Name</b>
                                        <h1>{{basicinfo.name.$valid}}</h1>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Current position</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="currentposition" placeholder="Focus to view the tooltip"
                                               value="{{mybasicinfo.currentposition}}" >
                                        <b class="tooltip tooltip-top-left">Current position</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">About Me</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="aboutme" name="aboutme" required placeholder="Focus to view the tooltip"
                                              value="{{mybasicinfo.aboutme}}">
                                        <b class="tooltip tooltip-top-left">About Me</b>
                                        <h1>{{basicinfo.aboutme.$valid}}</h1>
                                    </label>
                                </section>



                                <section>
                                    <label class="label">Description</label>
                                    <label class="textarea">
                                        <textarea rows="3" id="description" name="description" required>
                                             {{mybasicinfo.description}}

                                        </textarea>
                                    </label>
                                    <div class="note"><strong>Note:</strong> Write few information about your self.</div>
                                    <h1>{{basicinfo.description.$valid}}</h1>
                                </section>
                            </fieldset>

                            <fieldset>


                                <section>
                                    <label class="label">Country</label>
                                    <label class="select">
                                        <select id="country" name="country" required>
                                            <option value="1">Alexandra</option>
                                            <option value="2">Alice</option>
                                            <option value="3">Anastasia</option>
                                            <option value="4">Avelina</option>
                                        </select>
                                        <i></i>
                                    </label>
                                    <h1>{{basicinfo.country.$valid}}</h1>
                                </section>



                                <section>
                                    <label class="label color">State</label>
                                    <label class="input">
                                        <input type="text" id="state" name="state" required value="{{mybasicinfo.state}}">
                                    </label>
                                    <h1>{{basicinfo.state.$valid}}</h1>
                                </section>

                                <section>
                                    <label class="label color">Address</label>
                                    <label class="input">
                                        <input type="text" id="address" name="address" required value="{{mybasicinfo.address}}">
                                    </label>
                                    <h1>{{basicinfo.address.$valid}}</h1>
                                </section>

                            </fieldset>

                            <footer>
                                <button  ng-click="savebasicinfo(this)" class="btn-u">Save</button>
                                <button type="submit" ui-sref="settingssection({ section:'basicinfo'})"
                                        class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms -->

                        <div class="margin-bottom-60"></div>





                    </div>
                </div>
                <!--End Basic Table-->



                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='privacy')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> privacy</h3>

                    </div>

                    <form action="#" class="sky-form">
                        <header>privacy  </header>

                        <fieldset>
                            <section>
                                <label class="label">Name</label>
                                <label class="input" id="name1">
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" placeholder="Focus to view the tooltip">
                                    <b class="tooltip tooltip-top-left">Your Name</b>
                                </label>
                            </section>

                            <section>
                                <label class="label">Current position</label>
                                <label class="input" id="currentposition1">
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" placeholder="Focus to view the tooltip">
                                    <b class="tooltip tooltip-top-left">Current position</b>
                                </label>
                            </section>

                            <section>
                                <label class="label">About Me</label>
                                <label class="input" id="aboutme1">
                                    <i class="icon-prepend fa fa-question-circle"></i>
                                    <input type="text" placeholder="Focus to view the tooltip">
                                    <b class="tooltip tooltip-top-left">About Me</b>
                                </label>
                            </section>



                            <section>
                                <label class="label">Description</label>
                                <label class="textarea">
                                    <textarea rows="3" id="description1"></textarea>
                                </label>
                                <div class="note"><strong>Note:</strong> Write few information about your self.</div>
                            </section>

                            <section>
                                <label class="label color">State</label>
                                <label class="input">
                                    <input type="text" id="state1">
                                </label>
                            </section>

                            <section>
                                <label class="label color">Address</label>
                                <label class="input">
                                    <input type="text" id="address1">
                                </label>
                            </section>

                        </fieldset>

                        <footer>
                            <button type="submit"  class="btn-u">Save</button>

                        </footer>
                    </form>

                </div>
                <!--End Basic Table-->

                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='settings')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Settings</h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='proofdocument')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Documents

                            <label class="pull-right panel-title ">
                                <a ui-sref="settingssection({ section:'uploadproofdocument' })" ><i class="fa fa-edit">Upload Document</i> </a> </label>
                        </h3>

                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Name</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="document in documents" id="document_{{document.id}}">
                                <td>{{document.id}}</td>
                                <td>{{document.title}}</td>
                                <td>{{document.file_name}}</td>

                                <td>
                                     <button ng-click="deletedocument(document.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Basic Table-->


                <!--Basic Table Option (Spacing)-->
                <div class="panel panel-grey margin-bottom-40 " ng-show="(section=='uploadproofdocument')">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-tasks"></i> Add Document</h3>

                    </div>
                    <div class="panel-body">
                        <!-- General Forms -->
                        <form  class="sky-form"    enctype="multipart/form-data">


                            <fieldset>
                                <section>
                                    <label class="label">Name Of Document</label>
                                    <label class="input" >
                                        <i class="icon-prepend fa fa-question-circle"></i>
                                        <input type="text" id="documenttitle" name="documenttitle" ng-model="documenttitle" required
                                               placeholder="Focus to view the tooltip" value="">
                                        <b class="tooltip tooltip-top-left">Name Of Document</b>
                                        <h1>{{documenttitle.$valid}}</h1>
                                    </label>
                                </section>


                            </fieldset>

                            <fieldset>
                                <section>
                                    <label class="label">Document</label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" file-model="adddocumentfile"
                                                   onchange="this.parentNode.nextSibling.value = this.value">Browse</div>
                                        <input type="text" readonly>
                                    </label>
                                </section>

                            </fieldset>

                            <footer>
                                <button  ng-click="uploaddocument()" class="btn-u">Save</button>
                                <button type="submit" ui-sref="settingssection({ section:'proofdocument'})" class="btn-u">Cancel</button>

                            </footer>
                        </form>
                        <!-- General Forms -->

                        <div class="margin-bottom-60"></div>


                    </div>
                </div>
                <!--End Basic Table-->


            </div>
            <!-- End Main Content -->


            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- List -->
                    <li id="articleslink" class="list-group-item list-toggle" ng-class="{ active: (section=='basicinfo' || section=='editbasicinfo')}">
                        <a ui-sref="settingssection({ section:'basicinfo'})" >basic Information</a>
                    </li>
                    <li id="proofdocumentlink" class="list-group-item list-toggle" ng-class="{ active: (section=='proofdocument' || section=='uploadproofdocument')}">
                        <a ui-sref="settingssection({ section:'proofdocument'})" >Proof Documents</a>
                    </li>
                    <!--
                     <li id="blogslink" class="list-group-item list-toggle">
                         <a ui-sref="settingssection({ section:'privacy'})">Privacy</a>
                     </li>
                     <li id="productslink" class="list-group-item list-toggle">
                         <a ui-sref="settingssection({ section:'settings'})">Settings</a>
                     </li>
     -                ->
                     <!-- End List -->
                </ul>
            </div>
            <!-- End Sidebar Menu -->


        </div>
    </div>
</div>
<!--=== End Container Part ===-->