<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">Store</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Store</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->



<!--=== Container Part ===-->
<div id="containerpart" class="margin-top-20 "  ng-init="initstorecontr()">
    <div class="container margin-bottom-40">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-12">

                <!-- Store Grid -->
                <div class="row margin-bottom-50">

                    <div class="col-sm-4 sm-margin-bottom-50" ng-repeat="product in homeproducts">
                        <div class="blog-grid">
                            <a ui-sref="productdetails({ productid: product.id })">
                                <img class="img-responsive" ng-show="(product.thumb_image!='')"
                                     ng-src="{{product.thumb_image}}" alt="">
                                <img class="img-responsive" ng-show="(product.thumb_image=='')"
                                     ng-src="assets/img/thumb/store.jpg" alt="">
                                </a>
                            <ul class="blog-grid-info">
                                <li><i class="fa fa-calendar"></i> {{product.updated_at}}</li>
                                <a ui-sref="profile({ profileid:product.owner_id})">
                                    <li>{{product.owner_name}}</li>
                                </a>

                            </ul>
                            <h3><a ui-sref="productdetails({ productid: product.id })">{{product.title}}</a></h3>
                        </div>
                    </div>



                </div><!--/end row-->
                <!-- End Store Grid -->





                <div class="row margin-bottom-50"  ng-show="pagination.count==0">

                    <div class="col-sm-6">
                        <div class="blog-grid">
                            <h3>No Products</h3>


                        </div>
                    </div>
                </div>



            </div>
            <!-- End Main Content -->
            <div class="col-md-12 pager pager-v4" ng-show="pagination.total_pages>1">
                <div class="text-right">
                    <ul class="pagination">
                        <li class="previous" ng-show="pagination.current_page>2">
                            <a   ui-sref="store({ page:pagination.current_page-2})">&larr; Older</a></li>
                        <li class="page-amount" ng-show="pagination.links.previous">
                            <a ui-sref="store({ page:prepageparm})">{{pagination.current_page-1}}</a></li>
                        <li class="active"><a ui-sref="store({ page:pagination.current_page})">
                            {{pagination.current_page}}
                        </a></li>
                        <li  class="page-amount" ng-show="pagination.links.next">
                            <a ui-sref="store({ page:nextpageparm})">{{nextpageparm}}
                            </a></li>

                        <li  ng-show="(((nextpageparm+1)-pagination.current_page>=2) &&  (pagination.total_pages >= (nextpageparm+1)))">
                            <a ui-sref="store({ page:nextpageparm+1})">{{(nextpageparm+1)}}
                            </a></li>
                        <li  ng-show="((pagination.current_page==1) &&  (pagination.total_pages > (nextpageparm+2)))">
                            <a ui-sref="store({ page:nextpageparm+2})">{{(nextpageparm+2)}}
                            </a></li>
                        <li ng-show="((pagination.total_pages-pagination.current_page)>=3 && pagination.current_page>1)">
                            <a ui-sref="store({ page:pagination.current_page+3})">Newer &rarr;</a>
                        </li>
                        <li class="next" ng-show="((pagination.total_pages-pagination.current_page)>4 && pagination.current_page==1)">
                            <a   ui-sref="store({ page:pagination.current_page+4})">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--=== End Container Part ===-->
