/* Add here all your css styles (customizations) */

.header-v8 .navbar-nav > li > a
{
	padding: 20px 15px;
}

.blog-slider .blog-slider-title span.blog-slider-posted
{
	text-transform: none;
	background: rgba(34,34,34,0.45);
    padding: 5px 10px;
}

.master-slider a
{
	text-shadow: 1px 1px 2px #222;
}

.blog-thumb .blog-thumb-hover
{
	margin: 5px 14px;
}

.blog-thumb-v4 h3
{
	margin: 0 0 20px;
}

.top-bar-icon
{
	color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 0 0 10px;
}

.blog-grid-inner
{
	box-shadow: 0px 0px 10px #888888;
}

.align-center
{
	text-align: center;
}

.blog-social-shares li i.green
{
	background: #72c02c;
}

.blog-social-shares li i.red
{
	background: #e74c3c;
}

.profile-pic-sm
{
	margin-top: 28px;
}

.margin-left-0
{
	margin-left: 0px !important;
}

.display-inline-block
{
	display: inline-block;
}

.display-flex
{
	display: flex;
}

.inline-img-responsive
{
	display: block !important;
    max-width: 100% !important;
    height: auto !important;
}

img.video-play-btn-2
{
	width: 100px;
    height: 100px;
}

.no-padding
{
	padding: 0;
}

.box-shadow
{
	box-shadow: 0px 0px 5px #888888;
}

.sky-form fieldset
{
	box-shadow: 0px 0px 5px #bbb;
}

.list-toggle.active:after
{
	content: "\f105";
}

.font-size-16
{
	font-size: 16px;
}

.margin-top-bottom-10
{
	margin: 10px 0;
}

.text-transform-none
{
	text-transform: none;
}

.topbar-list .topbar-dropdown
{
	box-shadow: 0px 0px 10px #000;
}

@media (max-width: 768px) {
	.top-user-display-none
	{
		display: none;
	}
	
	.top-notification-display-none
	{
		display: none;
	}
	
	.topbar-list .topbar-dropdown
	{
		box-shadow: none;
	}
	
	.topbar-list .topbar-dropdown
	{
		left: 2px;
		min-width: 80px;
	}
}

.list-group small
{
	color: #B0BEC5;
}

.font-size-10
{
	font-size: 10px;
}

.sidebar-nav-v1 li a
{
	padding: 8px 30px 30px 10px;
}

.white-background
{
	background: white !important;
}

.chat-box
{
	width: auto;
    display: inline-block;
}

.width-100
{
	width: 100% !important;
}

.box-icon
{
	background-color: #fafafa;
	padding: 20px;
	font-size: 24px;
}

.box-icon a:hover h4
{
	color: #72c02c !important;
}