/* Add here all your css styles (customizations) */

.header-v8 .navbar-nav > li > a
{
	padding: 20px 15px;
}

.blog-slider .blog-slider-title span.blog-slider-posted
{
	text-transform: none;
	background: rgba(34,34,34,0.45);
    padding: 5px 10px;
}

.master-slider a
{
	text-shadow: 1px 1px 2px #222;
}

.blog-thumb .blog-thumb-hover
{
	margin: 5px 14px;
}

.blog-thumb-v4 h3
{
	margin: 0 0 20px;
}

.top-bar-icon
{
	color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 0 0 10px;
}

.blog-grid-inner
{
	box-shadow: 0px 0px 10px #888888;
}

.align-center
{
	text-align: center;
}

.blog-social-shares li i.green
{
	background: #72c02c;
}

.blog-social-shares li i.red
{
	background: #e74c3c;
}

.profile-pic-sm
{
	margin-top: 28px;
}

.margin-left-0
{
	margin-left: 0px !important;
}

.display-inline-block
{
	display: inline-block;
}

.inline-img-responsive
{
	display: block !important;
    max-width: 100% !important;
    height: auto !important;
}

img.video-play-btn-2
{
	width: 100px;
    height: 100px;
}

.no-padding
{
	padding: 0;
}