/* Add here all your css styles (customizations) */



.panorama {
	display: block;
	position: absolute;
	height: 32px;
	width: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	-o-border-radius: 32px;
	border-radius: 32px;
	color: rgba(255, 255, 255, 0.50);
	border: 5px solid rgba(255, 255, 255, 0.50);
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.effect {
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

.plots {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

